.chartAreaWhiteBoard {
    border: 0.5px solid gray;
    position: absolute;
    left:2%;
    top: 17%;
    height: 230px;
    width: 1260px;
    background: white;
}

.whiteboardForCalendar {
    border: 0.5px solid gray;
    position: absolute;
    left:-0.1%;
    top: -0.5%;
    height: 600px;
    width: 1262px;
    background: white;
}

.backlogListWhiteboard {
    border: 0.5px solid gray;
    position: absolute;
    top: 51%;
    left: 2%;
    height: 350px;
    width: 1260px;
    background: white;
}

.button {
    background: #1AB394;
    color: white;
    border: none;
    box-shadow: 1px 1px gray;
    cursor: pointer;
}

.moveButton {
    position: absolute;
    left: 2%;
    top: 48%;
}

.calendar-button {
    position: absolute;
    top: 3%;
    left: 91%;
}

.calendarback-button {
    position: absolute;
    top: 3%;
    left: 93%;
    z-index: 1050;
}

.barGraph {
    border: 0.5px solid gray;
    height: 215px;
    width: 650px;
    position: absolute;
    left: 2%;
    top: 3%;
}

.circleGraph {
    border: 0.5px solid gray;
    height: 215px;
    width: 400px;
    position:absolute;
    left: 57%;
    top: 3%;
}

.barGraphForOut {
    border: 0.5px solid gray;
    height: 215px;
    width: 1050px;
    position: absolute;
    left: 5%;
    top: 3%;
}

.yearBarGraph {
    position: absolute;
    left: 90%;
    top: 3%;
}

.yearOutBarGraph {
    position: absolute;
    left: 93%;
    top: 3%;
}

.itemListForBarGraph {
    position: absolute;
    left: 69%;
    top: 3%;
}

.itemListForOutBarGraph {
    position: absolute;
    left: 75%;
    top: 3%;
}

.YearCircleGraph {
    position: absolute;
    left: 76%;
    top: 3%;
}



.itemList {
    position: absolute;
    left: 1.5%;
    top: 10%;
}

.itemListForReleasebacklog {
    position: absolute;
    left: 14%;
    top: 3%;
}

.month {
    position: absolute;
    top: 85%;
}

.january {
    left: 5%;
}

.february {
    left: 12%;
}

.march {
    left: 19%;
}

.april {
    left: 26%;
}

.may {
    left: 33%;
}

.june {
    left: 40%;
}

.july {
    left: 47%;
}

.august {
    left: 54%;
}

.september {
    left: 61%;
}

.october {
    left: 68%;
}

.november {
    left: 75%;
}

.december {
    left: 82%;
}