.chartAreaWhiteBoard {
    border: 0.5px solid gray;
    position: absolute;
    left:2%;
    top: 14%;
    height: 340px;
    width: 1750px;
    background: white;
}

.whiteboardForCalendar {
    border: 0.5px solid gray;
    position: absolute;
    left:-0.1%;
    top: -0.5%;
    height: 760px;
    width: 1750px;
    background: white;
}

.dataTableH3 {
    position: absolute;
}

.backlogListWhiteboard {
    border: 0.5px solid gray;
    position: absolute;
    top: 51%;
    left: 2%;
    height: 450px;
    width: 1750px;
    background: white;
}

.button {
    background: #1AB394;
    color: white;
    border: none;
    box-shadow: 1px 1px gray;
    cursor: pointer;
}

.moveButton {
    position: absolute;
    left: 2%;
    top: 48%;
}

.calendar-button {
    position: absolute;
    top: 3%;
    left: 91%;
}

.calendarback-button {
    position: absolute;
    top: 3%;
    left: 93%;
    z-index: 1050;
}

.barGraph {
    border: 0.5px solid gray;
    height: 300px;
    width: 1650px;
    position: relative;
    margin-top: 15px;
    margin-left: 50px;
    float: left;
}

/*.circleGraph {*/
/*    border: 0.5px solid gray;*/
/*    height: 300px;*/
/*    width: 600px;*/
/*    position: relative;*/
/*    margin-top: 15px;*/
/*    margin-left: 50px;*/
/*    float: left;*/
/*}*/

.barGraphForOut {
    border: 0.5px solid gray;
    height: 300px;
    width: 1500px;
    position: relative;
    margin-top: 15px;
    margin-left: 100px;
    float: left;
}

.yearBarGraph {
    position: absolute;
    left: 90%;
    top: 3%;
}

.yearOutBarGraph {
    position: absolute;
    left: 93%;
    top: 3%;
}

.itemListForBarGraph {
    position: absolute;
    left: 75%;
    top: 3%;
}

.itemListForOutBarGraph {
    position: absolute;
    left: 76%;
    top: 3%;
}

.YearCircleGraph {
    position: absolute;
    left: 67%;
    top: 3%;
}

.MonthCircleGraph {
    position: absolute;
    left: 83%;
    top: 3%;
}


.itemListForCircleGraph {
    position: absolute;
    left: 1.5%;
    top: 10%;
    z-index: 1050;
}

.itemListForInWarehouseBacklog {
    position: absolute;
    left: 12%;
    top: 3%;
    z-index: 1050;
}

.month {
    position: absolute;
    top: 85%;
}

#morris-bar-chart {
    width: 1650px;
    /*heigth: 20px;*/
}

svg {
    height: 270px;
}

#morris-bar-chart2 {
    width: 1500px;
    z-index: 1050;
    height: 270px;
}

#morris-bar-chart2 svg {
    height: 270px;
}

