<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:include="/common/header.html"></th:block>

<div class="body-header">
    <div class="menu-title">가공 대기 창고</div>
    <div class="menu-path"><a th:href="@{/main}">메인페이지</a> / 입고 관리 / <a th:href="@{/warehouse/raw}">가공 대기 창고</a></div>
</div>

<!-- 컨텐츠 작성 영역 -->

<br>

<!-- 상단박스 시작 -->
<div class="row">
    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>가공 대기 창고</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">3건</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>입고 완료</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2건</h1>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- 상단박스 끝 -->

<!-- 테이블 시작 -->
<div class="ibox-content">

    <h2>가공 대기 창고</h2>

    <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
           placeholder="Search in table">

    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
        <thead>
        <tr>
            <th>No</th>
            <th>입고 번호</th>
            <th>품목</th>
            <th>품번</th>
            <th>품명</th>
            <th>입고 일시</th>
            <th>입고 수량</th>
            <th>가공,소분</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="itemRawList : ${ itemRawList }">
            <td th:text="${ itemRawList }"></td>
<!--            <td th:text="${ itemRawList.orderHistoryNo.companyOrderItemList }"></td>-->
<!--            <td th:text="${ itemManuList.itemInfoNo.warehouseMaterialCategory.materialCategoryName }"></td>-->
<!--            <td th:text="${ itemManuList.itemInfoNo.itemInfoItemSerialNo }"></td>-->
<!--            <td th:text="${ itemManuList.itemInfoNo.itemInfoName }"></td>-->
<!--            <td th:text="${ itemManuList.itemWarehouseAmount }"></td>-->
<!--            <td th:text="${ itemManuList.itemWarehouseQualityStatus }"></td>-->
<!--            <td>-->
<!--                <button type="button" class="btn btn-w-m btn-primary">상세 조회</button>-->
<!--                &lt;!&ndash;                <button class="btn btn-w-m btn-primary" th:onclick="|javascript:viewDetail('${warehouse.warehouseNo}')|">상세 조회</button>&ndash;&gt;-->
<!--            </td>-->
        </tr>

        </tfoot>
    </table>
</div>
<!-- 테이블 끝 -->




<div class="footer">
    <div class="float-right">
        10GB of <strong>250GB</strong> Free.
    </div>
    <div>
        <strong>Copyright</strong> Example Company &copy; 2014-2018
    </div>
</div>


<th:block th:replace="/common/footer.html"></th:block>
</body>
</html>