<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<style>

    .hidden {

        display:none;

    }

</style>


<body>
<th:block th:include="/common/header.html"></th:block>

<div class="body-header">
    <div class="menu-title">본사 발주 상세 조회</div>
    <div class="menu-path"><a th:href="@{/main}">메인페이지</a> / 입고 관리 / <a th:href="@{/warehouse/list}">입고, 입하 처리 / </a> <a th:href="@{/warehouse/complete}">본사 발주 상세 조회</a></div>
</div>

<!-- 컨텐츠 작성 영역 -->

<br>

<!-- 상단박스 시작 -->
<div class="row">
    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>발주 번호</h5>
            </div>
            <div class="ibox-content">
                    <h1 class="no-margins" th:text="${ orderHistory.getCompanyOrderHistoryNo() }"></h1>
                <br>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>발주 물품 정보</h5>
            </div>
            <div class="ibox-content">
                    <h1 class="no-margins" th:text="${ itemCnt } + 건"></h1>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- 상단박스 끝 -->

<!-- 테이블 시작 -->
<div class="ibox-content">

    <h2>본사 발주 상세 정보</h2>
    <br>

    <form id="registForm" action="/warehouse/complete/regist" method="get" >
    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
        <thead>
        <tr>
            <th>No</th>
            <th>품목</th>
            <th>품번</th>
            <th>품명</th>
            <th>거래처</th>
            <th>발주 수량</th>
            <th>입고 목록 추가</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="warehouse,num : ${ completeDetail }">
            <td th:text="${ num.size - num.index }"></td>
            <td th:text="${ warehouse.completeItemCategoryName }"></td>
            <td th:text="${ warehouse.completeItemSerialNo }"></td>
            <td th:text="${ warehouse.completeItemName }"></td>
            <td th:text="${ warehouse.clientName }"></td>
            <td th:text="${ warehouse.companyAmount }"></td>
            <td>
                <button class="btn btn-w-m btn-primary" type="submit" id="warehouseRegistButton" >입하 목록 추가</button>
            </td>

            <!-- 제품 번호 -->
            <input type="hidden" name="completeItemInfoNo" value="${ warehouse.companyAmount }" >
            <!-- 본사 발주 신청서 번호 -->
            <input type="hidden" name="orderApplicationNo" value="${ warehouse.orderApplicationNo }" >
            <!-- 거래처 번호 -->
            <input type="hidden" name="clientNo" value="${ warehouse.clientNo }" >
            <!-- 거래처 판매 계약 상품 번호 -->
            <input type="hidden" name="clientContractItemNo" value="${ warehouse.clientContractItemNo }" >

            </td>
        </tr>
        </tfoot>
    </table>
    </form>
</div>
<!-- 테이블 끝 -->

<!--<script>-->
<!--    document.getElementById("warehouseRegistButton").onclick = function (){-->
<!--        location.href = "/warehouse/regist?warehouseOrderHistoryNo=" + this.parentNode.parentNode.children[0].innerText;/* + "&warehouseClientNo=" + this.parentNode.parentNode.children[]*/-->

<!--    }-->
<!--</script>-->




<th:block th:replace="/common/footer.html"></th:block>
</body>
</html>