<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:include="/common/header.html"></th:block>

<div class="body-header">
    <div class="menu-title">입고, 입하 처리 상세 보기</div>
    <div class="menu-path"><a th:href="@{/main}">메인페이지</a> / 입고 관리 / <a th:href="@{/warehouse/detail}">입고, 입하 처리 상세 보기</a></div>
</div>

<!-- 컨텐츠 작성 영역 -->

<br>

<!-- 상단박스 시작 -->
<div class="row">
    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>입하 대기 시작일</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2022.02.22</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>입하 작업 시작일</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2022.02.22</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>입고 작업 시작일</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2022.02.22</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>입고 완료</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2022.02.22</h1>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- 상단박스 끝 -->

<!-- 테이블 시작 -->
<div class="ibox-content">

    <h2>입고 정보</h2>

    <!-- 상태변경 selectbox 시작 -->
    <div class="ibox-content">
        <select th:style="${'width:10%; height:2rem; text-align:center; font-size:1rem;'}" class="form-control">
            <option value="1">입하 대기</option>
            <option value="2">입하 작업</option>
            <option value="3">입고 작업</option>
            <option value="4">입고 완료</option>
        </select>
        <button class="modifyBtn btn btn-w-m btn-primary" th:style="${'margin-bottom:0.3rem;'}">수정</button>
    </div>
    <!-- 상태변경 selectbox 종료 -->

    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter>
        <thead>
        <tr>
            <th>입고 번호</th>
            <th>품목</th>
            <th>품번</th>
            <th>품명</th>
            <th>발주 일시</th>
            <th>주문 수량</th>
            <th>입하 수량</th>
            <th>입고 수량</th>
            <th>거래처</th>
            <th>작업 상태</th>
            <th>작업 처리 일자</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="warehouse : ${ warehouseDetailList }">
            <td th:text="${ warehouse.warehouseNo }"></td>
            <td th:text="${ warehouse.warehouseMaterialCategoryName }"></td>
            <td th:text="${ warehouse.warehouseItemInfoItemSerialNo }"></td>
            <td th:text="${ warehouse.warehouseItemInfoName }"></td>
            <td th:text="${ warehouse.warehouseOrderDate }"></td>
            <td th:text="${ warehouse.warehouseCompanyOrderItemAmount }"></td>
            <td th:text="${ warehouse.warehouseCompanyOrderItemAmount }"></td>
            <td th:text="${ warehouse.warehouseCompanyOrderItemAmount }"></td>
<!--            <td th:text="${ warehouse.warehouseCheckAmount }"></td>-->
<!--            <td th:text="${ warehouse.warehouseInAmount }"></td>-->
            <td th:text="${ warehouse.warehouseClientName }"></td>
            <td th:text="${ warehouse.warehouseWorkingStatus }"></td>
            <td th:text="${ warehouse.warehouseDate }"></td>
        </tr>
        </tfoot>
    </table>
</div>
<!-- 테이블 끝 -->

<th:block th:replace="/common/footer.html"></th:block>
</body>
</html>