<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-sm-4">
        <div class="ibox selected">

            <div class="ibox-content">
                <div class="tab-content">
                    <div id="contact-1" class="tab-pane active">
                        <div class="row m-b-lg">
                            <div class="col-lg-4 text-center">
                                <h2 id="franchise-name"></h2>
                            </div>
                            <div class="col-lg-8">

                                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                        class="fa fa-envelope"></i> 수정
                                </button>

                                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                        class="fa fa-envelope"></i> 삭제
                                </button>

                            </div>
                        </div>
                        <div class="client-detail">
                            <div class="full-height-scroll">

                                <strong>회원정보</strong>

                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="float-right" id="representative-id"></span>
                                        아이디
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="representative-name"></span>
                                        대표자 명
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="representative-phone"></span>
                                        대표자 휴대전화 번호
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="representative-email"></span>
                                        대표자 이메일
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-contract-start-date"></span>
                                        가맹점 계약 시작일
                                    </li>

                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-contract-end-date"></span>
                                        가맹점 계약 종료일
                                    </li>

                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-contract-status"></span>
                                        가맹점 계약 상태
                                    </li>

                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-updater"></span>
                                        가맹점 정보 최종 수정자
                                    </li>

                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-supervisor-name"></span>
                                        가맹점 담당 본사 직원 명
                                    </li>

                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-contract-number"></span>
                                        사업자 등록증 번호
                                    </li>

                                    <li class="list-group-item">
                                        <span class="float-right" id="franchise-bankAccount-number"></span>
                                        계좌확인서 번호
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>