<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>$Title$</title>

    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

    <style>
        .franchise-order-regist-btn {
            background-color: #c69500;
            color: white;
            cursor: pointer;
            border: none;
            width: 80px;
            height: 30px;
            margin-right: 20px;
        }

        .order-before-btn {
            border: none;
            cursor: pointer;
            background-color: yellowgreen;
            width: 80px;
            height: 25px;
            color: white;
        }

        .order-reject-btn {
            border: none;
            cursor: pointer;
            background-color: orangered;
            width: 80px;
            height: 25px;
            color: white;

        }

        .order-complete-btn {
            border: none;
            cursor: pointer;
            background-color: skyblue;
            width: 80px;
            height: 25px;
            color: white;

        }

        .status-change-div {
            width: 80px;
            display: none;
            position: absolute;
            margin-left: 78px;
            z-index: 1000;
        }

        .franchise-order-detail-modal-body-table {
            text-align: center;
            border-collapse:collapse;
            width: 80%;
            margin-left: 130px;
        }

        .franchise-order-detail-modal-body-table th, td {
            border: none;
        }

        .content-table-body {
            max-width: 99% !important;
        }
    </style>
</head>
<body>
    <div th:replace="/common/header.html"></div>

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>발주 내역</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/}">메인페이지</a>
                </li>
                <li class="breadcrumb-item">
                    발주 관리
                </li>
                <li class="breadcrumb-item">
                    <a th:href="@{/order/franchiseorderlist}" style="font-weight: bold">발주 내역</a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="ibox ">

        <div class="row" style="margin-top: 20px;">
            <div class="col-lg-12 content-table-body">
                <div class="ibox">

                    <div class="ibox-title">
                        <h2 style="font-weight: bold; margin-left: 10px">발주 내역</h2>
                        <span style="color: red; margin-left: 1%;">* 발주 거부 사유서 확인은 처리상태의 승인거부 확인 버튼을 클릭하여 확인할 수 있습니다. *</span>

                        <div class="ibox-tools">
                            <th:block th:if="${ member.memberDivision eq '가맹점' }">
                                <button class="franchise-order-regist-btn" onclick="location.href='/order/franchiseorderregist'">발주 신청</button>
                            </th:block>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="text" class="form-control form-control-sm m-b-xs" id="filter"
                               placeholder="검색하고자 하는 내용을 2글자 이상 입력하세요.">

                        <table class="footable table table-stripped" data-page-size="8" data-filter=#filter style="text-align: center">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>가맹점명</th>
                                    <th>주문번호</th>
                                    <th>신청일자</th>
                                    <th>신청자</th>
                                    <th>처리일자</th>
                                    <th>처리자</th>
                                    <th>처리상태</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="franchiseOrder, index : ${ franchiseOrderList }" id="franchise-order-history-tr"  data-toggle="modal" data-target="#myModal4">
                                    <input type="hidden" th:value="${ franchiseOrder.franchiseOrderNo }">
                                    <input type="hidden" th:value="${ member.memberDivision }">
                                    <td th:text="${ index.index + 1 }"></td>
                                    <td th:text="${ franchiseOrder.orderFranchiseInfo.franchiseBranchName }"></td>
                                    <td th:text="${ franchiseOrder.franchiseOrderOrderNumber }"></td>
                                    <td th:text="${ franchiseOrder.franchiseOrderApplicationDate }"></td>
                                    <td>
                                        <th:block th:if="${ franchiseOrder.orderFranchiseAccountDTO eq null }">
                                            <th:block th:text="${ franchiseOrder.orderFranchiseInfo.franchiseRepresentativeName }"></th:block>
                                        </th:block>
                                        <th:block th:if="${ franchiseOrder.orderFranchiseAccountDTO ne null }">
                                            <th:block th:text="${ franchiseOrder.orderFranchiseAccountDTO.managerName }"></th:block>
                                        </th:block>
                                    </td>
                                    <td th:text="${ franchiseOrder.franchiseOrderStatusDate }"></td>
                                    <td>
                                        <th:block th:each="franchiseHistory : ${ franchiseOrder.franchiseOrderStatusHistoryList }">
                                            <th:block th:if="${ franchiseHistory.orderCompanyAccount ne null and franchiseHistory.franchiseOrderStatus ne 'BEFORE' }">
                                                <th:block th:text="${ franchiseHistory.orderCompanyAccount.memberName }"></th:block>
                                            </th:block>
                                        </th:block>
                                    </td>
                                    <td>
                                        <th:block th:if="${ franchiseOrder.franchiseOrderStatus eq 'BEFORE' }">
                                            <button class="order-before-btn" id="order-before-btn">처리전</button>
                                            <div class="status-change-div" id="status-change-div">
                                                <button class="order-complete-btn" id="order-complete-btn">승인완료</button>
                                                <button class="order-reject-btn" id="order-reject-btn">승인거절</button>
                                            </div>
                                        </th:block>
                                        <th:block th:if="${ franchiseOrder.franchiseOrderStatus eq 'COMPLETE' }">
                                            <button class="order-complete-btn">승인완료</button>
                                        </th:block>
                                        <th:block th:if="${ franchiseOrder.franchiseOrderStatus eq 'REJECT' }">
                                            <button class="order-reject-btn" id="reject-check-btn">승인거절</button>
                                        </th:block>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8">
                                        <ul class="pagination float-right"></ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="modal inmodal" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none">
                        <div class="modal-dialog">
                            <div class="modal-content animated fadeIn" style="width: 1000px; right: 200px">
                                <div class="modal-header">
                                    <h4 class="modal-title">내역 상세</h4>
                                    <small id="franchise-order-detail-modal-small"></small>
                                </div>
                                <div class="modal-body">
                                    <table class="franchise-order-detail-modal-body-table">
                                        <thead>
                                        <tr>
                                            <th>No</th>
                                            <th>물품 이름</th>
                                            <th>금액(개)</th>
                                            <th>수량</th>
                                            <th>금액(총)</th>
                                        </tr>
                                        </thead>
                                        <tbody id="franchise-order-detail-table-tbody">

                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="franchise-order-detail-modal-ok-btn">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal inmodal" id="insertRejectModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <h4 class="modal-title">발주 거부 사유서</h4>
                                </div>
                                <div class="modal-body">
                                    <textarea cols="65" rows="5" id="reject-message" style="resize: none" placeholder="발주 거부 사유를 작성해주세요."></textarea>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="reject-save-btn">저장</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal inmodal" id="reject-modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content animated bounceInRight">
                                <div class="modal-header">
                                    <h4 class="modal-title">발주 거부 사유서</h4>
                                </div>
                                <div class="modal-body" id="reject-modal-body">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="reject-ok-btn">확인</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <th:block th:replace="/common/footer.html"></th:block>

    <script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

    <!-- Page-Level Scripts -->
    <script>

        $(document).ready(function() {

            $('.footable').footable();
            $('.footable2').footable();

            $(document).on('click', '.sa-button-container .confirm', function() {

                if(checkSuccess == 1) {
                    history.go(0);
                }

                if(rejectComplete == 1) {
                    history.go(0);
                }

                if(checkReject == 2) {

                    document.getElementById('insertRejectModal').style.display = 'block';

                }

                if(checkReject == 1) {
                    checkReject++;
                }

            });

            let text = '';

            $('#reject-message').keyup(function() {
               text = $('#reject-message').val();
            });

            document.getElementById('reject-save-btn').onclick = function() {

                fetch("/order/modifyfranchiseorderstatus?franchiseOrderNo=" + insertRejectOrderNo + "&orderStatus=REJECT&rejectMessage=" + text)
                    .then(response => response.json())
                    .then(response => {
                        swal({
                            title: "변경 완료!",
                            text: "승인 거절 처리되었습니다."
                        })
                    })
                    .catch(err => {
                        swal({
                            title: "변경 실패!",
                            text: "알수 없는 문제가 발생하였습니다."
                        });
                    });

                rejectComplete = 1;
            }


        });

        const $StatusChangeDiv = document.querySelectorAll("#status-change-div");
        const $OrderBeforeBtn = document.querySelectorAll("#order-before-btn");

        if(document.querySelectorAll("#franchise-order-history-tr td")) {
            const $tds = document.querySelectorAll("#franchise-order-history-tr td");

            for(let i = 0; i < $tds.length; i++) {

                $tds[i].onmouseenter = function() {
                    this.parentNode.style.backgroundColor = "#d3d3d3";
                    this.parentNode.style.cursor = "pointer";
                }

                $tds[i].onmouseout = function() {
                    this.parentNode.style.backgroundColor = "white";
                }

                $tds[i].onclick = function() {

                    $("#franchise-order-detail-table-tbody").empty();

                    for(let j = 0; j < $StatusChangeDiv.length; j++) {

                        if($StatusChangeDiv[j].style.display = 'block') {

                            $StatusChangeDiv[j].style.display = 'none';
                        }

                    }

                    let franchiseOrderNo = this.parentNode.children[0].value;

                    fetch("/order/franchiseorderdetail?franchiseOrderNo=" + franchiseOrderNo)
                        .then(response => response.json())
                        .then(response => {

                            let orderDetailModalTbody = '';

                            let index = 1;

                            if(response != null) {

                                for(list in response) {

                                    orderDetailModalTbody += '<tr>';
                                    orderDetailModalTbody += '<td>' + index + '</td>';
                                    orderDetailModalTbody += '<td>' + response[list].itemName + '</td>';
                                    orderDetailModalTbody += '<td>' + response[list].itemPrice + '</td>';
                                    orderDetailModalTbody += '<td>' + response[list].itemAmount + '</td>';
                                    orderDetailModalTbody += '<td>' + (response[list].itemAmount * response[list].itemPrice) + '</td>';
                                    orderDetailModalTbody += '</tr>';

                                    index++;
                                }
                            }

                            $("#franchise-order-detail-table-tbody").append(orderDetailModalTbody);

                        })
                        .catch(err => {
                            alert("연결 실패!");
                        });

                    document.getElementById("franchise-order-detail-modal-small").innerText = this.parentNode.children[4].innerText + " 발주 내역";

                }

            }
        }

        for(let i = 0; i < $OrderBeforeBtn.length; i++) {

            $OrderBeforeBtn[i].onclick = function(e) {

                e.stopPropagation();

                if("본사" === this.parentNode.parentNode.children[1].value) {

                    for(let j = 0; j < $StatusChangeDiv.length; j++) {

                        if(j == i) {
                            if($StatusChangeDiv[i].style.display == 'block') {

                                $StatusChangeDiv[i].style.display = 'none';
                            } else {

                                $StatusChangeDiv[i].style.display = 'block';
                            }
                        } else {

                            $StatusChangeDiv[j].style.display = 'none';

                        }

                    }

                }

            }

        }

        let checkSuccess = 0;
        let checkReject = 0;
        let insertRejectOrderNo = 0;
        let insertRejectOrderStatus = '';
        let rejectComplete = 0;
        const $OrderCompleteBtn = document.querySelectorAll("#order-complete-btn");
        const $OrderRejectBtn = document.querySelectorAll("#order-reject-btn");

        for(let i = 0; i < $OrderCompleteBtn.length; i++) {

            $OrderCompleteBtn[i].onclick = function(e) {

                let franchiseOrderNo = this.parentNode.parentNode.parentNode.children[0].value;

                e.stopPropagation();

                $StatusChangeDiv[i].style.display = 'none';

                swal({
                    title: "승인 완료 처리하시겠습니까?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false
                }, function () {

                    fetch("/order/modifyfranchiseorderstatus?franchiseOrderNo=" + franchiseOrderNo + "&orderStatus=COMPLETE")
                        .then(response => response.json())
                        .then(response => {
                            swal("변경 완료!", "승인 완료 처리되었습니다.", "success");
                            checkSuccess = 1;
                        })
                        .catch(err => {
                            swal({
                                title: "변경 실패!",
                                text: "알수 없는 문제가 발생하였습니다."
                            });
                        });
                });

            }

            $OrderRejectBtn[i].onclick = function(e) {

                e.stopPropagation();
                $StatusChangeDiv[i].style.display = 'none';

                let franchiseOrderNo = this.parentNode.parentNode.parentNode.children[0].value;

                swal({
                    title: "승인 거절 처리하시겠습니까?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false
                }, function () {

                    swal("승인 거절", "발주 거절 사유서를 작성해주세요.", "success");
                    checkReject = 1;
                    insertRejectOrderNo = franchiseOrderNo;
                    insertRejectOrderStatus = 'REJECT';

                });

            }

        }

        $rejectCheckBtn = document.querySelectorAll('#reject-check-btn');

        for(let i = 0; i < $rejectCheckBtn.length; i++) {

            $rejectCheckBtn[i].onclick = function(e) {

                e.stopPropagation();

                fetch("/order/selectrejectcontent?franchiseOrderNo=" + this.parentNode.parentNode.children[0].value)
                    .then(response => response.json())
                    .then(response => {

                        document.getElementById('reject-modal-body').innerText = response;

                    })
                    .catch(err => {
                        swal({
                            title: "오류 발생!",
                            text: "알수 없는 문제가 발생하였습니다."
                        });
                    });


                document.getElementById('reject-modal').style.display = 'block';

            }

        }

        document.getElementById('reject-ok-btn').onclick = function() {

            document.getElementById('reject-modal').style.display = 'none';

            $('#reject-modal-body').empty();

        }

    </script>

</body>
</html>