<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<th:block th:include="/common/header.html"></th:block>

<!-- 컨텐츠 작성 영역 -->
<div class="body-header">
    <div class="menu-title">출고 관리</div>
    <div class="menu-path"><a th:href="@{/main}">메인페이지</a> / <a th:href="@{/franchiseorder}">가맹점 발주 관리</a> / <a th:href="@{/outwarehouse/list}">출고 관리</a></div>
</div>
<br>

<!-- 상단박스 시작 -->
<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>출고 번호</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2022022</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>출고 물품 목록 수</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">3개</h1>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- 상단박스 끝 -->

<!-- 테이블 시작 -->
<div class="ibox-content">

    <h2>출고 정보</h2>
    <br>
        <h3>작업 상태</h3>
        <select th:style="${'width:10%; height:2rem; text-align:center; font-size:1.2rem;'}">
            <option value="1">출고 대기</option>
            <option value="2">출고 작업</option>
            <option value="3">출하 작업</option>
            <option value="4">출하 완료</option>
        </select>
        <button class="modifyBtn btn btn-w-m btn-primary" th:style="${'margin-bottom:0.3rem;'}">수정</button>
    <br>
    <br>

    <table class="footable table table-stripped" data-page-size="8" data-filter=#filter th:style="${'text-align:center'}">
        <thead>
        <tr>
            <th>No</th>
            <th>품번</th>
            <th>품목</th>
            <th>품명</th>
            <th>출고 수량</th>
            <th>목적지(가맹점명)</th>
            <th>작업 처리상태</th>
            <th>작업 처리일자</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>3</td>
            <td>-</td>
            <td>-</td>
            <td>로스팅된 지로스팅 커피 원두 1kg</td>
            <td>100</td>
            <td>서울 강남 2호점</td>
            <td>출고 대기</td>
            <td>2022-04-15</td>
        </tr>
        <tr>
            <td>2</td>
            <td>-</td>
            <td>-</td>
            <td>로스팅된 인도 커피 원두 1kg</td>
            <td>50</td>
            <td>서울 강남 2호점</td>
            <td>출고 대기</td>
            <td>2022-04-15</td>
        </tr><tr>
            <td>1</td>
            <td>-</td>
            <td>-</td>
            <td>로스팅된 브루주아 커피 원두 1kg</td>
            <td>100</td>
            <td>서울 강남 2호점</td>
            <td>출고 대기</td>
            <td>2022-04-15</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 테이블 끝 -->

<th:block th:replace="/common/footer.html"></th:block>
</body>
</html>