<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/outWarehouse/outWarehouse.css}">
</head>
<body>
<th:block th:include="/common/header.html"></th:block>

<!-- 컨텐츠 작성 영역 -->
<div class="body-header">
    <div class="menu-title">출고 관리</div>
    <div class="menu-path"><a th:href="@{/}">메인페이지</a> / <a th:href="@{/franchiseorder/}">가맹점 발주 관리</a> / <a th:href="@{/outwarehouse/list}">출고 관리</a></div>
</div>
<br>

<!-- 상단박스 시작 -->
<div class="row">
    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>전체 출고</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">3건</h1>
                <br>
            </div>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>출하 완료</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">2건</h1>
                <br>
            </div>
        </div>
    </div>
</div>
<!-- 상단박스 끝 -->

<!-- 테이블 시작 -->
<div class="ibox-content" th:style="${'width:98%; margin:0 auto;'}">

    <h2 th:style="${'font-weight:bold;'}">출고 정보</h2>
    <br>

    <div th:style="${'vertical-align:middle;'}">
        <h4>가맹점 발주 상태 "완료" 목록 조회</h4>
        <button class="checkOrderListBtn btn btn-w-m btn-primary">조회</button>
    </div>

<!--    <div class="modal inmodal fade" id="modal1" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">-->
<!--        <div class="modal-dialog modal-lg">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="modalLabel">Ready to test</h5>-->
<!--                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">x</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    test-->
<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button class="btn btn-primary" type="button" data-dismiss="modal">Cancel</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
    </div>

    <br>
    <table class="outWarehouseTbl footable table table-stripped" data-page-size="8" data-filter=#filter>
        <thead>
        <tr>
            <th>출고 번호</th>
            <th>작업상태</th>
            <th>작업 처리일자</th>
            <th>목적지(가맹점명)</th>
            <th>목적지(가맹점 주소)</th>
            <th>출고량</th>
            <th>상세 정보</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr>-->
<!--            <td>2</td>-->
<!--            <td class="outWarehouseNo">20222022</td>-->
<!--            <td>출하 대기</td>-->
<!--            <td>2022-04-14</td>-->
<!--            <td>서울 강남 2호점</td>-->
<!--            <td>서울시 강남구</td>-->
<!--            <td>500</td>-->
<!--            <td>-->
<!--                <button type="button" class="detailBtn btn btn-w-m btn-primary" th:onclick="|javascript:viewDetail('${outWarehouseNo}')|">상세 조회</button>-->
<!--            </td>-->
<!--        </tr>-->
        <tr th:each="outWarehouse : ${ outWarehouseList }">
            <td th:text="${ outWarehouse.outWarehouseNo }"></td>
            <td th:text="${ outWarehouse.outWarehouseWorkingStatusName }"></td>
            <td th:text="${ outWarehouse.outWarehouseWorkingFinishedDate }"></td>
            <td th:text="${ outWarehouse.franchiseBranchName }"></td>
            <td th:text="${ outWarehouse.franchiseAddress }"></td>
            <td th:text="${ outWarehouse.outWarehouseTotalOutItemAmount }"></td>
            <td>
                <button type="button" class="detailBtn btn btn-w-m btn-primary" th:onclick="|javascript:viewDetail('${outWarehouse.outWarehouseNo}')|">상세 조회</button>
<!--                <button type="button" class="detailBtn btn btn-w-m btn-primary" th:onclick="'location.href=\'/outwarehouse/detail\''">상세 조회</button>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- 테이블 끝 -->

<th:block th:replace="/common/footer.html"></th:block>

<script>
    const checkOrderListBtn = document.getElementsByClassName("checkOrderListBtn");

    function viewDetail(num) {
        let No = num;
        location.href="/outwarehouse/detail/" + num;
    }

    checkOrderListBtn.onclick = function() {
        document.getElementById("moaModal").style.display = "block";
    }
</script>
</body>
</html>