<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">

</head>
<body class="md-skin">

    <th:block th:include="/common/header.html"></th:block>

    <div id="main" class="main">

    </div>
    <!-- 컨텐츠 작성 영역 -->


    <th:block th:replace="/common/footer.html"></th:block>

    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>

    <!-- Password meter -->
    <script th:src="@{/js/plugins/pwstrength/pwstrength-bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/pwstrength/zxcvbn.js}"></script>

    <!-- Jquery Validate -->
    <script th:src="@{/js/plugins/validate/jquery.validate.min.js}"></script>

    <!-- Input Mask-->
    <script th:src="@{/js/plugins/jqueryMask/jquery.mask.min.js}"></script>

</body>
</html>