.pageImage404 {
    background: url('../../img/404PageImage.png') no-repeat;
    background-size: 600px 600px;
    width: 800px;
    height: 800px;
}

.pageImage500 {
    background: url('../../img/500PageImage.png') no-repeat;
    background-size: 550px 600px;
    width: 800px;
    height: 800px;
}

.pageImage400 {
    background: url('../../img/400PageImage.png') no-repeat;
    background-size: 550px 600px;
    width: 800px;
    height: 800px;
}

.pageImage403 {
    background: url('../../img/403PageImage.png') no-repeat;
    background-size: 550px 600px;
    width: 800px;
    height: 800px;
}

.images {
    position: absolute;
    left: 30%;
    top: 13%;
}

.sadFace {
    position: relative;
    left: 50%;
    top: 35%;
    background: url('../../img/sadFace.png') no-repeat;
    background-size: 400px 350px;
    width: 500px;
    height: 500px;
}

.loginImagefailed {
    background: url('../../img/loginPageImage.png') no-repeat;
    background-size: 550px 600px;
    width: 800px;
    height: 800px;
}

.deniedImage {
    background: url('../../img/deniedPageImage.png') no-repeat;
    background-size: 550px 600px;
    width: 800px;
    height: 800px;
}

