<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/8eb5905426.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
</head>
<body>
    <th:block th:replace="/common/header.html"></th:block>

    <div class="body-header">
        <div class="menu-title">공지사항</div>
        <div class="menu-path"><a th:href="@{/main}">메인페이지</a> / <a th:href="@{/board}">공지사항</a></div>
    </div>

    <div class="body-container">
        <div class="search-area">
            <i class="fas fa-search"></i>
            <input type="text" name="search" placeholder="검색">
            <button>검색</button>
        </div>

        <table id="boardTable">
            <tr align="center">
                <th class="boardCheckbox"><input id="headCheckbox" type="checkbox"></th>
                <th>No</th>
                <th>제목</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>작성자</th>
            </tr>

            <!-- 게시판 정보 받아와서 표시 -->
            <tr>

            </tr>
        </table>
    </div>

    <th:block th:replace="/common/footer.html"></th:block>
</body>
</html>