<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link th:href="@{/css/backlog/backlogcss.css}" rel="stylesheet">

    <link th:href="@{/css/menu/menucss.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/morris/morris-0.4.3.min.css}" rel="stylesheet">

</head>
<body>

<th:block th:replace="/common/header.html"></th:block>

    <div class="ibox">
        <div class="body-header">
            <div class="menu-title">백로그 관리</div>
            <div class="menu-path"><a th:href="@{/}">메인페이지</a> / <a th:href="@{/backlog/list}">백로그 관리</a></div>
        </div>
    <div>


    <div class="chartAreaWhiteBoard">
        <button class="button calendar-button" id="calendarButton" style="width: 120px;">일정한눈에보기</button>

        <!-- 캘린더 부분 (시간나면 하자)-->
        <div class="whiteboardForCalendar" id="calendarModal" style="display: none;">
            <div class="calendar-modal">
                <button class="button calendarback-button" id="backcalendarButton" style="width: 100px;">차트보기</button>
                <div class="ibox">
                    <div class="ibox-title">
                        <h4 style="font-weight: bold; margin-left: 5px;">입고처리된날짜가 반영된 일정</h4>
                    </div>
                    <div class="ibox-content">
                        <!-- fullcalendar script쪽에 설정 있을거임 -->
                       <div id="calendar"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 출고 켯을 때 차트 부분 -->
        <div class="chart-modalForOut" id="charModalForOut" style="display: none;">
            <div class="barGraphForOut">
                <h4 style="font-weight: bold; margin-left: 5px;">물품당 이슈발생빈도</h4>
                <select class="itemListForOutBarGraph">
                    <option value="지로스팅">로스팅된 지로스팅 원두 1kg</option>
                </select>
                <select class="yearOutBarGraph">
                    <option value="2022">2022</option>
                </select>
                <div class="month january">1</div>
                <div class="month february">2</div>
                <div class="month march">3</div>
                <div class="month april">4</div>
                <div class="month may">5</div>
                <div class="month june">6</div>
                <div class="month july">7</div>
                <div class="month august">8</div>
                <div class="month september">9</div>
                <div class="month october">10</div>
                <div class="month november">11</div>
                <div class="month december">12</div>
            </div>
        </div>


        <!-- 입고 켯을 때 차트 부분 -->
        <!-- 그 받아온 애 전체 list를 javascript에서 for문 돌려서 const나 let 배열?에다가 넣어주고
            id가 동일하면 []가 되니까 input type="hidden"으로 배열로 만들자
            let 년도[] = [2022, 2022, 2022 ...]
            let 월별[] = 01, 02 이니까 value에는 01로 나오게 하고 , text에는 1, 2 이렇게? [04, 06, 04 ... ]
            let 실수량[] = [95, 120 ... ]
            let 총합수량[]
            if( for(월별for문 돌려서) -> 같으면 실수량 더해서 '총합수량'에 쌓이게) {}
        -->
        <div class="chart-modalForIn" id="chartModalForIn"style="display: block;">
            <div class="barGraph">
                <h4 style="font-weight: bold; margin-left: 5px;">각 물품 구매량 증/감소율</h4>
                    <select class="itemListForBarGraph" id="itemListForBarGraph" onchange="selectOneItemInfoForBarGraph(this.value, this.options[this.selectedIndex].text)">
                        <option selected="selected" disabled="disabled">선택해주세요</option>
                        <!-- selectbox로 년도 보여준다. -->
                    </select>

                    <!-- 1. 애초에 지로스팅선택되 있는 째로 나오게 할건지-->
                    <!-- 2. (선택해주세!) 하면서 안보여준다음에 클릭하면 보여주게 할건지-->
                    <select class="yearBarGraph" onchange="selectBarGraphForInWarehouse();">
                        <!-- 나중에 년도별로 불러오게 해야함(2022까지) -->
                        <option value="2022" selected>2022</option>
                        <option value="2021">2021</option>
                        <option value="2020">2020</option>
                        <option value="2019">2019</option>
                        <option value="2018">2018</option>
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                        <option value="2015">2015</option>
                        <option value="2014">2014</option>
                        <option value="2013">2013</option>
                        <option value="2012">2012</option>
                        <option value="2011">2011</option>
                        <option value="2010">2010</option>
                        <option value="2009">2009</option>
                        <!-- selectbox로 년도 보여준다. -->
                    </select>


                    <div id="morris-bar-chart"></div>
                    <script type="text/javascript">
                        $(document).ready(function() {
                            Morris.Bar({
                                element: 'morris-bar-chart',
                                data: [ //y에 그 나눈거 let -> 넣고 , 년도/월별 나눈거 m이랑 비교해서 더한다음에 실수량 a에 보여주기
                                    { y: '2022', m: '1', a: 60 },
                                    { y: '2022', m: '2', a: 75 },
                                    { y: '2022', m: '3', a: 50 },
                                    { y: '2022', m: '4', a: 75 },
                                    { y: '2022', m: '5', a: 50 },
                                    { y: '2022', m: '6', a: 75 },
                                    { y: '2022', m: '7', a: 75 },
                                    { y: '2022', m: '8', a: 75 },
                                    { y: '2022', m: '9', a: 75 },
                                    { y: '2022', m: '10', a: 75 },
                                    { y: '2022', m: '11', a: 75 },
                                    { y: '2022', m: '12', a: 100 }
                                ],
                                xkey: 'm',
                                ykeys: ['a'],
                                labels: ['총수량'],
                                hideHover: 'auto',
                                resize: true, //혹시 모르니 놔두자
                                barColors: ['#1ab394', '#cacaca'],
                            });
                        });

                    </script>


                <!-- 막대 그래프 관련 내용 들어갈 예정 -->
                 </div>


            <div class="circleGraph">
                <h4 style="font-weight: bold; margin-left: 5px;">품목별 각 거래처 구매율</h4>
                <select class="YearCircleGraph">
                    <!-- 나중에 년도별로 불러오게 해야함(2022까지) -->
                    <option value="20221">2022년 1월</option>
                </select>
                <select class="itemList">
                    <option value="지로스팅 1kg">지로스팅 원두 1kg</option>
                </select>

            <!-- chart-flow의 원그래프 html인데 적용이 안되네.. 일단 주석 -->
        <!--            <div class="row">-->
        <!--                <div class="col-lg-6">-->
        <!--                    <div class="ibox ">-->
        <!--                        <div class="ibox-content">-->
        <!--                            <div class="flot-chart">-->
        <!--                                <div class="flot-chart-pie-content" id="flot-pie-chart"></div>-->
        <!--                            </div>-->
        <!--                        </div>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
                 </div>
            </div>
    </div>
    <!-- 차트 부분 whiteboard 끝 -->


        <div class="moveButton" id="moveButton">
            <button class="button backlogList" id="releasebacklogButton" style="width: 150px;">본사 입고물품 백로그</button>
            <button class="button backlogList" id="inwarehousebacklogButton" style="width: 150px;">본사 이슈출고 백로그</button>
        </div>


    <!-- 목록 부분 시작 -->
    <div class="list-modal" id="listModal">
        <div class="backlogListWhiteboard">

            <!-- 입고백로그 목록 -->
            <div class="releasebacklog-modal" id="releasebacklogModal" style="display: block;">
                <select class="itemListForInWarehouseBacklog" id="itemListForInWarehouseBacklog" onchange="selectOneItemInfo(this.value, this.options[this.selectedIndex].text);">
                    <option selected="selected" disabled="disabled">선택해주세요</option>
                </select>
                <div class="ibox">
                    <h3 class="dataTableH3" style="font-weight: bold; padding: 6px; margin-left: 10px;">본사 입고물품 백로그</h3>
                    <div class="ibox-content">
                        <div class="table-responsive">
                           <!-- 동적생성?인가 그걸로 나중에 만들어야 함 이건 예시일뿐-->
                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>물품번호</th>
                                    <th>물품명</th>
                                    <th>거래처명</th>
                                    <th>입고완료처리일자</th>
                                    <th>개수</th>
                                </tr>
                                </thead>
                                <tbody id="tbodyForInWarehouse" class="tbodyForInWarehouse">
                                    <tr th:each="inbacklog : ${ inWarehouseBacklogList }" id="InWarehouseBacklogList" class="InWarehouseBacklogList">
                                        <td th:text="${ inbacklog.itemInfoNoForInWarehouse.itemInfoItemSerialNo }"></td>
                                        <td th:text="${ inbacklog.itemInfoNoForInWarehouse.itemInfoName }"></td>
                                        <td th:text="${ inbacklog.clientNoForInWarehouse.clientName }"></td>
                                        <td th:text="${ inbacklog.inWarehouseCompleteDate }"></td>
                                        <td th:text="${ inbacklog.inWarehouseAmount }"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>


            <!-- 출고백로그 목록 -->
            <div class="inwarehousebaklog-modal" id="inwarehousebacklogModal" style="display: none;">
                <div class="ibox">
                        <h3 class="dataTableH3" style="font-weight: bold; padding: 6px; margin-left: 10px;">본사 이슈출고 백로그</h3>
                    <div class="ibox-content">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover dataTables-example" >
                                <thead>
                                <tr>
                                    <th>번호</th>
                                    <th>이슈번호</th>
                                    <th>물품번호</th>
                                    <th>물품명</th>
                                    <th>이슈명</th>
                                    <th>이슈제기일자</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="gradeX">
                                    <td>1</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                <tr class="gradeC">
                                    <td>2</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                <tr class="gradeA">
                                    <td>3</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                <tr class="gradeA">
                                    <td>4</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                <tr class="gradeA">
                                    <td>5</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>24</td>
                                    <td class="center">FD-FE-1002-2</td>
                                    <td>로스팅된 지로스팅 원두 1kg</td>
                                    <td class="center">원두품질불량</td>
                                    <td class="center">2022.04.10</td>
                                </tr>
                                </tbody>
<!--                                <tfoot>-->
<!--                                <tr>-->
<!--                                    <th>Rendering engine</th>-->
<!--                                    <th>Browser</th>-->
<!--                                    <th>Platform(s)</th>-->
<!--                                    <th>Engine version</th>-->
<!--                                    <th>CSS grade</th>-->
<!--                                </tr>-->
<!--                                </tfoot>-->
                            </table>
                        </div>

                    </div>
                </div>
            </div>


        </div>
        </div>


<th:block th:replace="/common/footer.html"></th:block>



<script>

    document.getElementById("calendarButton").onclick = function () {
        document.getElementById("calendarModal").style.display = "block";
        document.getElementById("chartModalForIn").style.display = "none";
        document.getElementById("charModalForOut").style.display = "none";
        document.getElementById("releasebacklogModal").style.display = "none";
        document.getElementById("inwarehousebacklogModal").style.display = "none";
        document.getElementById("moveButton").style.display = "none";
        document.getElementById("listModal").style.display = "none";

    }
   document.getElementById("backcalendarButton").onclick = function () {
       document.getElementById("calendarModal").style.display = "none";
       document.getElementById("chartModalForIn").style.display = "block";
       document.getElementById("releasebacklogModal").style.display = "block";
       document.getElementById("inwarehousebacklogModal").style.display = "none";
       document.getElementById("moveButton").style.display = "block";
       document.getElementById("listModal").style.display = "block";

   }
   document.getElementById("releasebacklogButton").onclick = function () {
       document.getElementById("releasebacklogModal").style.display = "block";
       document.getElementById("inwarehousebacklogModal").style.display = "none";
       document.getElementById("charModalForOut").style.display = "none";
       document.getElementById("chartModalForIn").style.display = "block";


   }
   document.getElementById("inwarehousebacklogButton").onclick = function () {
       document.getElementById("releasebacklogModal").style.display = "none";
       document.getElementById("inwarehousebacklogModal").style.display = "block";
       document.getElementById("charModalForOut").style.display = "block";
       document.getElementById("chartModalForIn").style.display = "none";
   }


   <!-- 입고 물품 불러오기 -->
    $(function() {
        $.ajax({
            url: "/backlog/iteminfolist",
            success: function(data) {
                const itemListForInWarehouseBacklog = $("#itemListForInWarehouseBacklog");

                for(let list in data) {
                    itemListForInWarehouseBacklog.append($("<option>").text(data[list].itemInfoName).val(data[list].itemInfoNo));
                }
            },
            error: function(xhr) {
                alert("에러가 발생하였습니다. 다시 시도해주세요");
            }
        });
    });

    $(function() {
        $.ajax({
            url: "/backlog/iteminfolist",
            success: function(data) {
                const itemListForBarGraph = $("#itemListForBarGraph");

                for(let list in data) {
                    itemListForBarGraph.append($("<option>").text(data[list].itemInfoName).val(data[list].itemInfoNo));
                }
            },
            error: function(xhr) {
                alert("에러가 발생하였습니다. 다시 시도해주세요");
            }
        });
    });


    const $InWarehouseBacklogList = document.getElementById("InWarehouseBacklogList");

    function selectOneItemInfo(value, text) {
        $.ajax({
           url: "/backlog/selectonebackloglist",
            type: "get",
            data: {"itemInfoNo":value},
            success: function(data) {

                $InWarehouseBacklogList.remove();

                let str = "";

                for(list in data){
                    str += '<tr id="InWarehouseBacklogList" class="InWarehouseBacklogList">';
                    str += '<td>'+data[list].itemInfoNoForInWarehouse.itemInfoItemSerialNo + '</td>';
                    str += '<td>'+data[list].itemInfoNoForInWarehouse.itemInfoName +'</td>';
                    str += '<td>'+data[list].clientNoForInWarehouse.clientName+'</td>';
                    str += '<td>'+data[list].inWarehouseCompleteDate +'</td>';
                    str += '<td>'+data[list].inWarehouseAmount +'</td>';
                    str += '</tr>';
                }

                $("#tbodyForInWarehouse").empty();
                $("#tbodyForInWarehouse").append(str);


            },
            error: function(xhr) {
               alert("에러가 발생하였습니다. 다시 시도해주세요");
            }
        });
    }


    //날짜를 나눠서 1월은 1월끼리 -> 수량이 더해지고
   //  window.onload = function() {
   //     console.log("여긴옴?");
   //     <!-- 입고 켯을 때 차트 부분 -->
   //     <!-- 그 받아온 애 전체 list를 javascript에서 for문 돌려서 const나 let 배열?에다가 넣어주고
   //         id가 동일하면 []가 되니까 input type="hidden"으로 배열로 만들자
   //         let 년도[] = [2022, 2022, 2022 ...]
   //         let 월별[] = 01, 02 이니까 value에는 01로 나오게 하고 , text에는 1, 2 이렇게? [04, 06, 04 ... ]
   //         let 실수량[] = [95, 120 ... ]
   //         let 총합수량[]
   //         if( for(월별for문 돌려서) -> 같으면 실수량 더해서 '총합수량'에 쌓이게) {}
   //
   //     // for(let inWarehouseList in list) {
   //     //     console.log("나옴? : " + inWarehouseList[list]);
   //     // }
   // };
    const yearForInWarehouse = document.createElement("input")
    const monthForInWarehouse = document.createElement("input")
    const amountForInWarehouse = document.createElement("input")
    const realAmountForInWarehouse = document.createElement("input")

    yearForInWarehouse.setAttribute("id", "yearForInWarehouse");
    monthForInWarehouse.setAttribute("id", "monthForInWarehouse");
    amountForInWarehouse.setAttribute("id", "amountForInWarehouse");
    realAmountForInWarehouse.setAttribute("id", "realAmountForInWarehouse");

    const yearForInWarehouseArray = $("#yearForInWarehouse");
    const monthForInWarehouseArray = $("#monthForInWarehouse");
    const amountForInWarehouseArray = $("#amountForInWarehouse");

    const inWarehouseListForBarGraph = new Array();

    const inWarehouseList = "[[${ inWarehouseBacklogList }]]"
    console.log("잘나오냐 : "+  inWarehouseList)

    function selectOneItemInfoForBarGraph(value, text) {
        $.ajax({
            url: "/backlog/selectonebackloglist",
            type: "get",
            data: {"itemInfoNo":value},
            success: function(data) {

            const test2Month = [];
            const test1Year = [];
            const test3Amount = [];
                for(list in data){
                    console.log(data[list].inWarehouseCompleteDate); //이 => 년도별 , 월별로 나눠서
                    console.log(data[list].inWarehouseAmount); //한 백로그 목록 당 300개

                    test2Month.push(data[list].inWarehouseCompleteDate.substring(5, 7).replace(0, ""));
                    test1Year.push(data[list].inWarehouseCompleteDate.substring(0, 4));
                    test3Amount.push(data[list].inWarehouseAmount);

                }

                    console.log("년도가 잘 드갔으려나 for문 밖에서: " + test1Year); //ㅇㅋ
                    console.log("월별이 잘 드갔으려나 for문 밖에서: " + test2Month);
                    console.log("수량 잘드감?: " + test3Amount); //만약에 test2Month 반복 돌린애들이 같으면 수량 더해준 애들 넣어놓는..그거..(1~ 12월까지 만들기)

            },
            error: function(xhr) {
                alert("에러가 발생하였습니다. 다시 시도해주세요");
            }
        });

    }

</script>
<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
<script th:src="@{/js/plugins/morris/raphael-2.1.0.min.js}"></script>
<script th:src="@{/js/plugins/morris/morris.js}"></script>
<script th:src="@{/js/demo/morris-demo.js}"></script>
<!--        jQuery.ready()-->
<script>
    $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-white btn-sm';

    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 7,
            responsive: true,
            lengthChange: false,
            info: false,
            // dom: '<"html5buttons"B>lTfgitp',
            buttons: [
                // { extend: 'copy'},
                // {extend: 'csv'},
                // {extend: 'excel', title: 'ExampleFile'},
                // {extend: 'pdf', title: 'ExampleFile'},

                // {extend: '',
                //     customize: function (win){
                //         $(win.document.body).addClass('white-bg');
                //         $(win.document.body).css('font-size', '10px');
                //
                //         $(win.document.body).find('table')
                //             .addClass('compact')
                //             .css('font-size', 'inherit');
                //     }
                // }
            ]

        });

    });



</script>
</body>
</html>