<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-sm-4">
        <div class="ibox selected">

            <div class="ibox-content">
                <div class="tab-content">
                    <div id="contact-1" class="tab-pane active">
                        <div class="row m-b-lg">
                            <div class="col-lg-4 text-center">
                                <h2 id="detail-name"></h2>

                                <div class="m-b-sm">
                                    <img alt="image" class="rounded-circle" src="img/a2.jpg"
                                         style="width: 62px">
                                </div>
                            </div>
                            <div class="col-lg-8">

                                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                        class="fa fa-envelope"></i> 수정
                                </button>

                                <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                        class="fa fa-envelope"></i> 삭제
                                </button>

                            </div>
                        </div>
                        <div class="client-detail">
                            <div class="full-height-scroll">

                                <strong>회원정보</strong>

                                <ul class="list-group clear-list">
                                    <li class="list-group-item fist-item">
                                        <span class="float-right" id="detail-id"></span>
                                        아이디
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="detail-department"></span>
                                        소속 부서
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="detail-cellPhone"></span>
                                        휴대전화번호
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="detail-officePhone"></span>
                                        사무실 유선번호
                                    </li>
                                    <li class="list-group-item">
                                        <span class="float-right" id="detail-email"></span>
                                        이메일
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>