<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>거래처 사업자등록증</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/client/clientcss.css}">
</head>
<body style="overflow: hidden; max-height: 90%;">
<th:block th:include="/common/header.html"></th:block>

    <div class="body-header">
        <div class="menu-title">거래처정보</div>
        <div class="menu-path"><a href="index.html">메인페이지</a> / 거래처관리 / 거래처사업자등록증</div>
    </div>

        <div class="wrapper wrapper-content animated fadeInRight" style="overflow-x: hidden !important;">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ibox">
                        <div class="ibox-content">
                            <h2>거래처 사업자등록증</h2>
                            <div class="input-group">
                                <input type="text" placeholder="Search client " class="input form-control">
                                <span class="input-group-append">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                                </span>
                            </div>
                            <div class="clients-list">
                                <ul class="nav nav-tabs">
                                    <li><a class="nav-link active" data-toggle="tab" href="#tab-1"><i class="fa fa-briefcase"></i> 거래처 사업자등록증</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab-1" class="tab-pane active">
                                        <div class="full-height-scroll">
                                            <div class="table-responsive">
                                                <table class="table table-striped table-hover" id="clientDetail">
                                                    <thead>
                                                    <tr>
                                                        <td>번호</td>
                                                        <td>회사명</td>
                                                        <td>대표자명</td>
                                                        <td>사업자등록증</td>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="clientList : ${ clientList }" >
                                                        <td th:text="${ clientList.clientNo }"></td>
                                                        <td th:text="${ clientList.clientName }"></td>
                                                        <td th:text="${ clientList.clientRepresentativeName  }"></td>
                                                        <td>
                                                            <th:block th:each="clientCbrList : ${ clientList.clientCbrList }">

                                                                <!-- 받아오면 for문 돌려서  -->
                                                                <th:block th:if="${not #strings.isEmpty(clientCbrList)} ">
                                                                    <th:block th:text="${ clientCbrList.clientCbrAttachmentOriginalName }"></th:block>
<!--                                                                    <label for="regist-btn">등록하기</label>-->
<!--                                                                    <input type="file" id="regist-btn"/>-->
                                                                </th:block>

                                                                <th:block th:if="${ #strings.isEmpty(clientCbrList) }">
<!--                                                                <input type="file">등록하기</input>-->
                                                                    <button>등록하기</button>
                                                                </th:block>

                                                            </th:block>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <div id="paging" align="center">
                                                    <!— 맨 앞으로 이동 —>
                                                    <button th:onclick="'location.href=\'/client/cbrlist?page=' + @{${ paging.startPage }} + '\''"
                                                            th:disabled="${ clientList.first }"><<</button>

                                                    <!— 이전 페이지로 이동 —>
                                                    <button th:onclick="'location.href=\'/client/cbrlist?page=' + @{${ paging.currentPage - 1 }} + '\''"
                                                            th:disabled="${ clientList.first }"><</button>

                                                    <!— 숫자 버튼 —>
                                                    <th:block th:each="page : ${#numbers.sequence(paging.startPage, paging.endPage)}">
                                                        <button th:onclick="'location.href=\'/client/cbrlist?page=' + @{${ page }} + '\''"
                                                                th:text="${ page }"
                                                                th:disabled="${ paging.currentPage eq page }"></button>
                                                    </th:block>

                                                    <!— 다음 페이지로 이동 —>
                                                    <button th:onclick="'location.href=\'/client/cbrlist?page=' + @{${ paging.currentPage + 1 }} + '\''"
                                                            th:disabled="${ clientList.last }">></button>

                                                    <!— 맨 마지막으로 이동 —>
                                                    <button th:onclick="'location.href=\'/client/cbrlist?page=' + @{${ paging.endPage }} + '\''"
                                                            th:disabled="${ clientList.last }">>></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<th:block th:replace="/common/footer.html"></th:block>
<script>
    console.log("되냐? 0");

    const test = "[[${ clientCbrList }]]"; //에러는 안나는데 안나옴
    console.log("test :L " + test); //안나옴 ㅇㅇ

</script>
</body>
</html>