<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link th:href="@{/css/menu/menucss.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/select2/select2.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/select2/select2-bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

</head>
<body>
<th:block th:replace="/common/header.html"></th:block>


    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>메뉴관리</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/}">메인페이지</a>
                </li>
                <li class="breadcrumb-item active">
                    <a th:href="@{/menu/list}"><strong>메뉴 관리</strong></a>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <div class="forz-index" id="forz-index" style="display: none;">
        <div class="menuRegistModal" id="menuRegistModal">
            <h1 align="center" style="color: #1ab394">메뉴 등록</h1>
            <form class="menuRegistForm" id="menuRegistForm" method="post"  action="/menu/regist">
                *<label>메뉴명 : </label>&nbsp;<input type="text" class="menuName" id="menuName" name="menuName"><br>
                *<label>메뉴가격 : </label>&nbsp;<input type="number" class="menuPrice" id="menuPrice" name="menuPrice"><br>
                *<label>판매여부 : </label>&nbsp;
                <select class="menuStatus" name="menuOrderableStatus" id="menuStatus">
                    <option value="Y" id="menuStatusY">Y</option>
                    <option value="N">N</option>
                </select><br>
                *<label>원재료 선택 : </label>&nbsp;
                <select name="itemInfoNo" class="materialCategoryForRegist" id="materialCategoryForRegist" onchange="addRawMaterial(this.value, this.options[this.selectedIndex].text);">

                </select><br>
                *<label>용량 : </label>
                <select name="materialCapacity" class="materialCapacity" id="materialCapacity" onchange="addRawMaterialToDiv(this.value, this.options[this.selectedIndex].text);">

                </select><br><br>
                <div class="rawMaterialList" id="rawMaterialList" name="rawMaterialList">

                </div>
                <button class="button registMenuCancelButton" type="button" id="registMenuCancelButton">취소</button>
            </form>
                <button class="button registMenuSubmitButton">등록</button>

            <div class="modal-layer"></div>
        </div>
    </div>

    <div class="forz-index" id="forz-indexForModify" style="display: none;">
        <div class="menuModifyModal" id="menuModalForModify">
            <h1 align="center" style="color: #1ab394">메뉴 수정</h1>
            <form class="menuModifytForm" id="menuModifytForm" method="post" action="/menu/modify">
                *<label>메뉴명 : </label>&nbsp;<input type="text" class="menuName" id="menuNameForModify" name="menuName"><br>
                *<label>메뉴가격 : </label>&nbsp;<input type="number" class="menuPrice" id="menuPriceForModify" name="menuPrice"><br>
                *<label>판매여부 : </label>&nbsp;
                <select class="menuStatus" id="menuStatusForModify" name="menuOrderableStatus">
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                </select><br>
                <input type="hidden" id="menuNoForModify" name="menuNo">
                *<label>원재료 선택 : </label>&nbsp;
                <select name="itemInfoNo" class="materialCategoryForModify" id="materialCategoryForModify" onchange="addRawMaterialForModify(this.value, this.options[this.selectedIndex].text);">

                </select><br>
                *<label>용량 : </label>
                <select name="materialCapacity" class="materialCapacity" id="materialCapacityForModify" onchange="addRawMaterialToDivForModify(this.value, this.options[this.selectedIndex].text);">

                </select><br><br>
                <div class="rawMaterialList" id="rawMaterialListForModify" name="rawMaterialList">

                </div>
                <button class="button modifyMenuCancelButton" type="button" id="modifyMenuCancelButtonForModify">취소</button>
            </form>
                <button class="button modifyMenuSubmitButton" id="modifyMenuSubmitButton">수정</button>

            <div class="modal-layer"></div>
        </div>
    </div>

    <div class="menuListWhiteBoard">
        <div class="ibox">
            <h3 style="font-weight: bold; padding: 6px; margin-left: 10px;">메뉴 목록</h3>
            <th:block th:if="${ authentication.memberDivision eq '본사' }">
                <button class="button registMenuButton" id="registMenuButton">메뉴 등록</button>
                <h4 align="center" style="color: darkgreen; opacity: 35%;">상세보기는 메뉴명을 클릭, 메뉴삭제는 번호를 더블클릭하시면 할 수있습니다.</h4>
            </th:block>
            <th:block th:if="${ authentication.memberDivision eq '가맹점'}">
                <h4 align="center" style="color: darkgreen; opacity: 35%;">상세보기는 메뉴명을 클릭하시면 조회하실 수있습니다.</h4>
            </th:block>
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="menuTable">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>메뉴명</th>
                                <th>메뉴가격</th>
                                <th>판매여부</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="menu : ${ menuList }">
                                <input type="hidden" th:value="${ menu.menuNo }" id="menuNo" name="menuNo">
                                <td th:text="${ menu.menuNo }" class="menuNoTh" id="menuNoTh"></td>
                                <td th:text="${ menu.menuName }" class="menuNameForModifyThing" id="menuNameForModifyThing"></td>
                                <td th:text="${ menu.menuPrice }"></td>
                                <td th:text="${ menu.menuOrderableStatus }"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


    <div class="OneMenuWhiteboard" id="defualtOneMenu" style="display: block;">
        <br><br><br><br><br><br><br><br><br><br><br>
        <h1 align="center">상세보기할 메뉴를 선택해주세요! </h1>
    </div>

    <div class="selectOneMenuWhiteboard" id="selectOneMenu" style="display: none;" >
        <div class="ibox">
            <h3 style="font-weight: bold; padding: 6px; margin-left: 10px;" id="menuNameWhenClickEachMenu">
            </h3>
            <th:block th:if="${ authentication.memberDivision eq '본사' }">
                <button class="button modifyMenuButton" id="modifyMenuButton">메뉴 수정</button>
            </th:block>
            <div class="ibox-content">
                <div class="table-responsive">
                    <!-- success 시 ajax로 table 동적 생성? -->
                    <table class="table table-striped table-bordered table-hover dataTables-example-customizing" >
                        <thead>
                            <tr>
                                <th>원재료명</th>
                                <th>용량</th>
                            </tr>
                        </thead>
                        <tbody id="selectOneMenuTbody">

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>


<th:block th:replace="/common/footer.html"></th:block>

<script>

    const $rawMaterialListForModify = document.getElementById("rawMaterialListForModify");
    const $materialCapacityForModify = $("#materialCapacityForModify");
    const deleteMenuButton = document.getElementById("deleteMenuButton");

    if("[[${ authentication.memberDivision }]]" === '본사') {
        document.getElementById("registMenuButton").onclick = function() {
            document.getElementById("forz-index").style.display = "block";
        }
    }

    document.getElementById("registMenuCancelButton").onclick = function() {
        document.getElementById("forz-index").style.display = "none";
        document.getElementById("menuName").value = "";
        document.getElementById("menuPrice").value = "";
        $("#menuStatusY").prop("selected", true);
        $("#materialCategoryForRegist option:eq(0)").prop("selected", true);
        $("#materialCapacity option").remove();
        $('#rawMaterialList').empty();
    }

    if("[[${ authentication.memberDivision }]]" === '본사') {
        document.getElementById("modifyMenuButton").onclick = function() {
            document.getElementById("forz-indexForModify").style.display = "block";
        }
    }

    document.getElementById("modifyMenuCancelButtonForModify").onclick = function () {
        document.getElementById("forz-indexForModify").style.display = "none";
    }

    function addRawMaterialForModify(value, text) {
        const capacity = ["10g", "20g", "30g", "40g", "50g", "60g", "70g", "80g", "90g", "100g"];

        $materialCapacityForModify.html("");

        $materialCapacityForModify.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true))

        for (x in capacity) {
            const opt = document.createElement("option");
            opt.innerText = text + '/' + capacity[x];
            opt.value = text + '/' + capacity[x];
            $materialCapacityForModify.append(opt);
        }
    }

    function addRawMaterialToDivForModify(value, text) {

        const oneRawMaterialForModify = document.createElement("div")
        const deleteButtondForModify = document.createElement("div")
        const menuInfoForModify = document.createElement("input")
        oneRawMaterialForModify.setAttribute("id", "oneRawMaterialForModify");
        oneRawMaterialForModify.value = value;
        oneRawMaterialForModify.innerText = text;
        deleteButtondForModify.setAttribute("id", "rawMaterialDeleteButtonForModify");
        menuInfoForModify.type = "hidden"
        menuInfoForModify.name = "materialsForModify"
        menuInfoForModify.value = value;

        rawMaterialListForModify.appendChild(oneRawMaterialForModify);
        rawMaterialListForModify.appendChild(menuInfoForModify);
        oneRawMaterialForModify.appendChild(deleteButtondForModify);

        deleteButtondForModify.onclick = function () {
            this.parentNode.remove();
            menuInfoForModify.remove();

        }
    }

    $(function () {
        $.ajax({
            url: "/menu/materialcategory",
            success: function(data) {
                const $materialCategoryForRegist = $("#materialCategoryForRegist");
                const $materialCategoryForModify = $("#materialCategoryForModify");

                $materialCategoryForRegist.html("");
                $materialCategoryForModify.html("");
                $materialCategoryForRegist.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true));
                $materialCategoryForModify.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true));

                for(let list in data) {
                    $materialCategoryForRegist.append($("<option>").val(data[list].itemInfoNo).text(data[list].itemInfoName));
                    $materialCategoryForModify.append($("<option>").val(data[list].itemInfoNo).text(data[list].itemInfoName));
                }
            },
            error: function(xhr) {
                alert("에러가 발생하였습니다. 다시 시도해주세요");
            }

        });
    });

    const $rawMaterialList = $("#rawMaterialList");
    const $materialCapacity = $("#materialCapacity");

    function addRawMaterial(value, text) {
        const capacity = ["10g", "20g", "30g", "40g", "50g", "60g", "70g", "80g", "90g", "100g"];

        $materialCapacity.html("");
        $materialCapacity.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true))

        for(x in capacity) {
            const opt = document.createElement("option");
            opt.innerText = text + '/' + capacity[x];
            opt.value = text + '/' + capacity[x];
            $materialCapacity.append(opt);
        }
    }

    function addRawMaterialToDiv(value, text) {
        const rawMaterialList = document.getElementById("rawMaterialList");
        const oneRawMaterial = document.createElement("div");
        const deleteButton = document.createElement("div");
        const test = document.createElement("input");
        oneRawMaterial.setAttribute("id","oneRawMaterial");
        oneRawMaterial.value = value;
        oneRawMaterial.align = "center";
        oneRawMaterial.innerText = text;
        deleteButton.setAttribute("id", "rawMaterialDeleteButton");
        test.type = "hidden";
        test.name = "materials";
        test.value = value;

        rawMaterialList.appendChild(oneRawMaterial);
        rawMaterialList.appendChild(test);
        oneRawMaterial.appendChild(deleteButton);

        deleteButton.onclick = function() {
            this.parentNode.remove();
            test.remove();

        }
    }

    if(document.querySelectorAll("#menuTable tbody tr")) {
        const $tr = document.querySelectorAll("#menuTable tbody tr");
        const $menuNoTh = document.querySelectorAll("td[id=menuNoTh]");
        const $menuNameTh = document.querySelectorAll("td[id=menuNameForModifyThing]");

        for(let i = 0; i < $tr.length; i++) {
            if("[[${ authentication.memberDivision }]]" === '본사') {
                $menuNoTh[i].onmouseenter = function() {
                    this.style.cursor  = "pointer";
                    this.style.color = "darkgreen";
                    this.style.opacity = "35%";
                }
            }

            $menuNoTh[i].onmouseleave = function() {
                this.style.color = "black";
                this.style.opacity = "100%";
            }

            $menuNameTh[i].onmouseenter = function() {
                this.style.cursor  = "pointer";
                this.style.color = "darkgreen";
                this.style.opacity = "35%";
            }

            $menuNameTh[i].onmouseleave = function() {
                this.style.color = "black";
                this.style.opacity = "100%";
            }

            if("[[${ authentication.memberDivision }]]" === '본사') {
                $menuNoTh[i].ondblclick = function() {
                const $menuNoForSwal = this.parentNode.children[0].value;
                        swal({
                            title: "메뉴 삭제하시겠습니까?",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Ok",
                            cancelButtonText: "Cancel",
                            closeOnConfirm: false
                        }, function () {
                                swal({
                                    title: "삭제 완료!",
                                    text: "메뉴 삭제가 완료되었습니다.",
                                    type: "success",

                                }, function () {
                                    $.ajax({
                                        url: "/menu/delete",
                                        type: 'GET',
                                        dataType: 'text',
                                        async: true,
                                        data: {"menuNo": $menuNoForSwal},
                                        success: function(data) {
                                            location.href="/menu/list";
                                        },
                                        error: function(xhr) {
                                            alert("에러 발생! 다시 시도해주세요!");
                                        }
                                    });
                                })
                        });
                }
            }

            $menuNameTh[i].addEventListener("click", function() {

                    let test = document.getElementById("menuNameWhenClickEachMenu");
                    const $menuNo = this.parentNode.children[0].value;
                    test.innerText = this.parentNode.children[2].innerText + '의 원재료 목록';

                    let menuNameForModify = document.getElementById("menuNameForModify");
                    let menuPriceForModify = document.getElementById("menuPriceForModify");
                    let menuNoForModify = document.getElementById("menuNoForModify");
                    let menuStatusForModify = document.getElementById("menuStatusForModify");
                    menuNoForModify.value = $menuNo;
                    menuNameForModify.value = this.innerText;
                    menuPriceForModify.value = this.parentNode.children[3].innerText;
                    menuStatusForModify.value = this.parentNode.children[4].innerText;

                    $("#rawMaterialListForModify").empty();

                    $.ajax({
                        url: '/menu/selectonemenu',
                        type: 'GET',
                        dataType: 'json',
                        data: {"menuNo": this.parentNode.children[0].value},
                        success: function (data) {
                            let materialTbody = '';

                            if (data != null) {
                                for (list in data) {

                                    materialTbody += '<tr>';
                                    materialTbody += '<td>' + data[list].rawMaterialName + '</td>';
                                    materialTbody += '<td>' + data[list].rawMaterialCapacity + '</td>';
                                    materialTbody += '</tr>';

                                    if (data[list].menuNoforRaw.menuNo == $menuNo) {

                                        const oneRawMaterialForModify = document.createElement("div")
                                        const deleteButtondForModify = document.createElement("div")
                                        const menuInfoForModify = document.createElement("input")
                                        oneRawMaterialForModify.setAttribute("id", "oneRawMaterialForModify");
                                        oneRawMaterialForModify.value = data[list].rawMaterialName + "/" + data[list].rawMaterialCapacity;
                                        oneRawMaterialForModify.innerText = data[list].rawMaterialName + "/" + data[list].rawMaterialCapacity;
                                        deleteButtondForModify.setAttribute("id", "rawMaterialDeleteButtonForModify");
                                        menuInfoForModify.type = "hidden"
                                        menuInfoForModify.name = "materialsForModify"
                                        menuInfoForModify.value = data[list].rawMaterialName + "/" + data[list].rawMaterialCapacity;

                                        rawMaterialListForModify.appendChild(oneRawMaterialForModify);
                                        rawMaterialListForModify.appendChild(menuInfoForModify);
                                        oneRawMaterialForModify.appendChild(deleteButtondForModify);

                                        deleteButtondForModify.onclick = function () {
                                            this.parentNode.remove();
                                            menuInfoForModify.remove();
                                        }

                                    }
                                }
                                $('#selectOneMenuTbody').empty();
                                $('#selectOneMenuTbody').append(materialTbody);

                            }
                        },
                        error: function (xhr) {
                            alert("실패" + xhr);
                        }

                    });
                    document.getElementById("selectOneMenu").style.display = "block";
                    document.getElementById("defualtOneMenu").style.display = "none";
            });
        }
    }




</script>
<script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
<script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>
<script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

<script>

    $('.modifyMenuSubmitButton').click(function () {
        swal({
            title: "메뉴 수정하시겠습니까?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ok",
            cancelButtonText: "Cancel",
            closeOnConfirm: false
        }, function () {
            if(document.getElementById("menuNameForModify").value != "" && document.getElementById("menuPriceForModify").value != "" && document.getElementById("materialCategoryForModify").value != "" && document.getElementById("oneRawMaterialForModify") != null) {
                swal({
                    title: "수정 완료!",
                    text: "메뉴 수정이 완료되었습니다.",
                    type: "success",
                }, function () {
                    $("#menuModifytForm").submit();
                })
            } else {
                swal("수정 실패!", "필수값을 입력해주세요!", "error");
            }

        });

    });

    const $menuName = document.getElementById("menuName");
    const $menuPrice = document.getElementById("menuPrice");
    const $materialCategoryForRegist = document.getElementById("materialCategoryForRegist");
    const $materialCapacityForSwal = document.getElementById("materialCapacity");

    $('.registMenuSubmitButton').click(function () {
        swal({
            title: "메뉴 등록하시겠습니까?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Ok",
            cancelButtonText: "Cancel",
            closeOnConfirm: false
        }, function () {
            if($menuName.value != "" && $menuPrice.value != "" && $materialCategoryForRegist.value != "" && $materialCapacityForSwal.value != "옵션을 선택해주세요!" && document.getElementById("oneRawMaterial") != null) {
                swal({
                  title: "등록 완료!",
                  text: "메뉴 등록이 완료되었습니다.",
                  type: "success",

                }, function () {
                    $("#menuRegistForm").submit();
                })
            } else {
                swal("등록 실패!", "필수값을 입력해주세요!", "error");
            }

        });

    });


    $(".select2_demo_1").select2({
        theme: 'bootstrap4',
    });
    $(".select2_demo_2").select2({
        theme: 'bootstrap4',
    });
    $(".select2_demo_3").select2({
        theme: 'bootstrap4',
        placeholder: "Select a state",
        allowClear: true
    });

    $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-white btn-sm';

    $(document).ready(function(){
        $('.dataTables-example').DataTable({
            pageLength: 9,
            responsive: true,
            lengthChange: false,
            info: false,
            dom: '<"html5buttons"B>lTfgitp',
            buttons: []

        });

    });

    $(document).ready(function(){
        $('.dataTables-example-customizing').DataTable({
            pageLength: 10,
            searching: false,
            ordering: false,
            paging: true,
            lengthChange: false,
            info: false,
            buttons: []

        });

    });

</script>
</body>
</html>