<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link th:href="@{/css/menu/menucss.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/dataTables/datatables.min.css}" rel="stylesheet">

    <link th:href="@{/css/plugins/select2/select2.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/select2/select2-bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

</head>
<body>
<th:block th:replace="/common/header.html"></th:block>

<div class="ibox">
    <div class="body-header">
        <div class="menu-title">메뉴 관리</div>
        <div class="menu-path"><a th:href="@{/}">메인페이지</a> / <a th:href="@{/menu/list}">메뉴관리</a></div>
    </div>
    <div>

        <!-- 메뉴등록 모달창 -->
        <div class="forz-index" id="forz-index" style="display: none;">
            <div class="menuRegistModal" id="menuRegistModal">
                <h1 align="center" style="color: #1ab394">메뉴 등록</h1>
                <form class="menuRegistForm" id="menuRegistForm" method="post"  action="/menu/regist">
                    *<label>메뉴명 : </label>&nbsp;<input type="text" class="menuName" id="menuName" name="menuName"><br>
                    *<label>메뉴가격 : </label>&nbsp;<input type="number" class="menuPrice" id="menuPrice" name="menuPrice"><br>
                    *<label>판매여부 : </label>&nbsp;
                    <select class="menuStatus" name="menuOrderableStatus" id="menuStatus">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select><br>
                    *<label>원재료 선택 : </label>&nbsp;
                    <select name="itemInfoNo" class="materialCategoryForRegist" id="materialCategoryForRegist" onchange="addRawMaterial(this.value, this.options[this.selectedIndex].text);">

                    </select><br>
                    *<label>용량 : </label>
                    <select name="materialCapacity" class="materialCapacity" id="materialCapacity" onchange="addRawMaterialToDiv(this.value, this.options[this.selectedIndex].text);">

                    </select><br><br>
                    <div class="rawMaterialList" id="rawMaterialList" name="rawMaterialList">

                    </div>
                    <button class="button registMenuCancelButton" type="button" id="registMenuCancelButton">취소</button>
                </form>
                <button class="button registMenuSubmitButton demo3">등록</button>

                <div class="modal-layer"></div>
            </div>
        </div>

        <!-- 메뉴수정 모달창 -->
        <div class="forz-index" id="forz-indexForModify" style="display: none;">
            <div class="menuModifyModal" id="menuModalForModify">
                <h1 align="center" style="color: #1ab394">메뉴 수정</h1>
                <form class="menuModifytForm" id="menuModifytForm" method="post" action="/menu/modify">
                    *<label>메뉴명 : </label>&nbsp;<input type="text" class="menuName" id="menuNameForModify" name="menuName"><br>
                    *<label>메뉴가격 : </label>&nbsp;<input type="number" class="menuPrice" id="menuPriceForModify" name="menuPrice"><br>
                    *<label>판매여부 : </label>&nbsp;
                    <select class="menuStatus" id="menuStatusForModify" name="menuOrderableStatus">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                    </select><br>
                    <input type="hidden" id="menuNoForModify" name="menuNo">
                    *<label>원재료 선택 : </label>&nbsp;
                    <select name="itemInfoNo" class="materialCategoryForModify" id="materialCategoryForModify" onchange="addRawMaterialForModify(this.value, this.options[this.selectedIndex].text);">
                        <!-- 동적생성으로 -->
                    </select><br>
                    *<label>용량 : </label>
                    <select name="materialCapacity" class="materialCapacity" id="materialCapacityForModify" onchange="addRawMaterialToDivForModify(this.value, this.options[this.selectedIndex].text);">
                        <!-- 위에랑 select 연관 : 고정 (위에가 선택되면 얘가 10g/20g/30g/40g/50g/60g .. /100g까지 생기게!! -->
                    </select><br><br>
                    <div class="rawMaterialList" id="rawMaterialListForModify" name="rawMaterialList">

                    </div>
                    <button class="button modifyMenuSubmitButton demo4" type="submit">수정</button>
                    <button class="button modifyMenuCancelButton" type="button" id="modifyMenuCancelButtonForModify">취소</button>
                </form>

                <div class="modal-layer"></div>
            </div>
        </div>


        <!-- 삭제버튼 누르면 input type="checkbox" 동적생성 value에 menuNo넘기면 될듯? -->


        <!-- 메뉴리스트 목록 -->
        <div class="menuListWhiteBoard">
            <div class="ibox">
                <h3 style="font-weight: bold; padding: 6px; margin-left: 10px;">메뉴 목록</h3>
                <button class="button registMenuButton" id="registMenuButton">메뉴 등록</button>
                <button class="button deleteMenuButton" id="deleteMenuButton">메뉴 삭제</button>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example" id="menuTable">
                            <thead>
                            <tr>
                                <th>번호</th>
                                <th>메뉴명</th>
                                <th>메뉴가격</th>
                                <th>판매여부</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="menu : ${ menuList }">
                                <input type="hidden" th:value="${ menu.menuNo }" id="menuNo" name="menuNo">
                                <td th:text="${ menu.menuNo }"></td>
                                <td th:text="${ menu.menuName }" id="menuNameForModifyThing"></td>
                                <td th:text="${ menu.menuPrice }"></td>
                                <td th:text="${ menu.menuOrderableStatus }"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>


        <!-- 메뉴보기 상세보기 (default의 경우)-->
        <div class="OneMenuWhiteboard" id="defualtOneMenu" style="display: block;">
            <br><br><br><br><br><br><br><br><br><br><br>
            <h1 align="center">상세보기할 메뉴를 선택해주세요! </h1>
        </div>

        <!-- 메뉴보기 상세보기 (눌렀을 경우) -->
        <div class="selectOneMenuWhiteboard" id="selectOneMenu" style="display: none;" >
            <div class="ibox">
                <h3 style="font-weight: bold; padding: 6px; margin-left: 10px;" id="menuNameWhenClickEachMenu">
                </h3>
                <button class="button modifyMenuButton" id="modifyMenuButton">메뉴 수정</button>

                <div class="ibox-content">
                    <div class="table-responsive">
                        <!-- success 시 ajax로 table 동적 생성? -->
                        <table class="table table-striped table-bordered table-hover dataTables-example-customizing" >
                            <thead>
                            <tr>
                                <th>원재료명</th>
                                <th>용량</th>
                            </tr>
                            </thead>
                            <tbody id="selectOneMenuTbody">

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>



        <th:block th:replace="/common/footer.html"></th:block>

        <script>
            const $rawMaterialListForModify = document.getElementById("rawMaterialListForModify");
            const $materialCapacityForModify = $("#materialCapacityForModify");
            const deleteMenuButton = document.getElementById("deleteMenuButton");

            document.getElementById("registMenuButton").onclick = function() {
                document.getElementById("forz-index").style.display = "block";
            }

            document.getElementById("registMenuCancelButton").onclick = function() {
                document.getElementById("forz-index").style.display = "none";
            }

            document.getElementById("modifyMenuButton").onclick = function() {
                document.getElementById("forz-indexForModify").style.display = "block";
            }

            document.getElementById("modifyMenuCancelButtonForModify").onclick = function () {
                document.getElementById("forz-indexForModify").style.display = "none";
                // $("#rawMaterialListForModify").empty(); 없어도 될듯 일단 나둬
            }

            deleteMenuButton.onclick = function() {

                // input , type selectbox , name : menu , value : menuNo(그 하나하나 생길때 )동적 생성 -> 사진있음
                const deleteBox = document.createElement("input");
                deleteBox.type = "checkbox"
                deleteBox.id = "menuDeleteBox";
                deleteBox.value = $("#menuNo").val();

                $("#menuTable tbody tr").append(deleteBox);
                deleteMenuButton.onclick = function() {
                    alert("삭제하시겠습니까? 떠야함");
                }

                console.log("밸류 나옴? : " + deleteBox.value); //tr누를때 input menuNo에 있는 value를 넣어주는 걸로 해야할듯? 1만 나옴 !

                // $(체크박스).prop("checked" boolean );
                // $(체크된 체크박스).length;


            }

            function addRawMaterialForModify(value, text) {
                const capacity = ["10g", "20g", "30g", "40g", "50g", "60g", "70g", "80g", "90g", "100g"];

                $materialCapacityForModify.html("");

                $materialCapacityForModify.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true))

                for (x in capacity) {

                    const opt = document.createElement("option");
                    opt.innerText = text + '/' + capacity[x]; //이름 + 용량 -> text
                    opt.value = text + '/' + capacity[x]; //이름 + 용량 -> text
                    $materialCapacityForModify.append(opt);

                }

            }

            function addRawMaterialToDivForModify(value, text) {

                const oneRawMaterialForModify = document.createElement("div")
                const deleteButtondForModify = document.createElement("div")
                const menuInfoForModify = document.createElement("input")
                oneRawMaterialForModify.setAttribute("id", "oneRawMaterialForModify");
                oneRawMaterialForModify.value = value;
                oneRawMaterialForModify.innerText = text;
                deleteButtondForModify.setAttribute("id", "rawMaterialDeleteButtonForModify");
                menuInfoForModify.type = "hidden"
                menuInfoForModify.name = "materialsForModify"
                menuInfoForModify.value = value;

                rawMaterialListForModify.appendChild(oneRawMaterialForModify);
                rawMaterialListForModify.appendChild(menuInfoForModify); //input
                oneRawMaterialForModify.appendChild(deleteButtondForModify); // 화면의 보여질 div의 delete버튼

                deleteButtondForModify.onclick = function () { //제거 버튼을 누르면
                    this.parentNode.remove(); //oneRawMaterial삭제됨(자동으로 deleteButton도 삭제) -> 화면에서 삭제
                    menuInfoForModify.remove(); //input을 삭제해줘야 하는데?

                }
            }

            <!-- 원재료 목록 불러오기 -->
            $(function () {
                $.ajax({
                    url: "/menu/materialcategory",
                    success: function(data) {
                        const $materialCategoryForRegist = $("#materialCategoryForRegist");
                        const $materialCategoryForModify = $("#materialCategoryForModify");

                        $materialCategoryForRegist.html("");
                        $materialCategoryForModify.html("");
                        $materialCategoryForRegist.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true));
                        $materialCategoryForModify.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true));

                        for(let list in data) {
                            $materialCategoryForRegist.append($("<option>").val(data[list].itemInfoNo).text(data[list].itemInfoName));
                            $materialCategoryForModify.append($("<option>").val(data[list].itemInfoNo).text(data[list].itemInfoName));
                        }
                    },
                    error: function(xhr) {
                        alert("에러가 발생하였습니다. 다시 시도해주세요");
                    }

                });
            });

            <!-- 메뉴 등록 관련 -->
            const $rawMaterialList = $("#rawMaterialList");
            const $materialCapacity = $("#materialCapacity");

            function addRawMaterial(value, text) { //value에 자재번호 , text에 이름 + 용량
                const capacity = ["10g", "20g", "30g", "40g", "50g", "60g", "70g", "80g", "90g", "100g"];

                $materialCapacity.html("");

                $materialCapacity.append($("<option selected>").text("옵션을 선택해주세요!").attr("disabled", true))

                for(x in capacity) {

                    const opt = document.createElement("option");
                    opt.innerText = text + '/' + capacity[x]; //이름 + 용량 -> text
                    opt.value = text + '/' + capacity[x]; //이름 + 용량 -> text
                    $materialCapacity.append(opt);

                }
            }

            function addRawMaterialToDiv(value, text) {
                const rawMaterialList = document.getElementById("rawMaterialList");
                const oneRawMaterial = document.createElement("div"); //rawMaterialList에 추가되는거
                const deleteButton = document.createElement("div"); // delete버튼
                const test = document.createElement("input");
                oneRawMaterial.setAttribute("id","oneRawMaterial"); //id = oneRawMaterial
                oneRawMaterial.value = value; // 이름 + 용량 -> value로
                oneRawMaterial.align = "center";
                oneRawMaterial.innerText = text; // 이름 + 용량 -> text로
                deleteButton.setAttribute("id", "rawMaterialDeleteButton");
                test.type = "hidden";
                test.name = "materials";
                test.value = value;

                rawMaterialList.appendChild(oneRawMaterial);// 화면에 보여질 div
                rawMaterialList.appendChild(test); //input
                oneRawMaterial.appendChild(deleteButton); // 화면의 보여질 div의 delete버튼



                deleteButton.onclick = function() { //제거 버튼을 누르면
                    this.parentNode.remove(); //oneRawMaterial삭제됨(자동으로 deleteButton도 삭제) -> 화면에서 삭제
                    test.remove(); //input을 삭제해줘야 하는데?

                }
            }

            <!-- 메뉴 클릭시 상세보기용 -->
            if(document.querySelectorAll("#menuTable tbody tr")) {
                const $tr = document.querySelectorAll("#menuTable tbody tr");

                for(let i = 0; i < $tr.length; i++) {

                    $tr[i].onmouseenter = function() {
                        this.parentNode.style.cursor = "pointer";
                        this.parentNode.style.color = "gray";
                    }

                    $tr[i].onclick = function() {

                        /* 기.억.해 */
                        let test = document.getElementById("menuNameWhenClickEachMenu");
                        const $menuNo = this.children[0].value;
                        test.innerText = this.children[2].innerText + '의 원재료 목록';


                        <!-- 메뉴 수정용 -->
                        let menuNameForModify = document.getElementById("menuNameForModify");
                        let menuPriceForModify = document.getElementById("menuPriceForModify");
                        let menuNoForModify = document.getElementById("menuNoForModify");
                        let menuStatusForModify = document.getElementById("menuStatusForModify");
                        menuNoForModify.value = $menuNo;
                        menuNameForModify.value = this.children[2].innerText;
                        menuPriceForModify.value = this.children[3].innerText;
                        menuStatusForModify.value = this.children[4].innerText;

                        $("#rawMaterialListForModify").empty();

                        <!-- 원래 ajax -->
                        $.ajax ({
                            url: '/menu/selectonemenu',
                            type: 'GET',
                            dataType: 'json',
                            data: {"menuNo":this.children[0].value},
                            success: function(data) {
                                let materialTbody = '';


                                if(data != null) {
                                    for (list in data) {

                                        materialTbody += '<tr>';
                                        materialTbody += '<td>' + data[list].rawMaterialName + '</td>';
                                        materialTbody += '<td>' + data[list].rawMaterialCapacity + '</td>';
                                        materialTbody += '</tr>';

                                        console.log("넘어오는 데이터 : " + data[list].menuNoforRaw.menuNo);
                                        console.log("그 눌렀을대 list의 menuNo : " + $menuNo);

                                        if(data[list].menuNoforRaw.menuNo == $menuNo) {

                                            <!-- 여기서 그 rawMaterialName이랑 Capacity도 받아와서 rawMaterial에 넣어줘야하는데 그 사태로 -->
                                            const oneRawMaterialForModify = document.createElement("div")
                                            const deleteButtondForModify = document.createElement("div")
                                            const menuInfoForModify = document.createElement("input")
                                            oneRawMaterialForModify.setAttribute("id", "oneRawMaterialForModify");
                                            oneRawMaterialForModify.value = data[list].rawMaterialName + "/" + data[list].rawMaterialCapacity;
                                            oneRawMaterialForModify.innerText = data[list].rawMaterialName + "/" + data[list].rawMaterialCapacity;
                                            deleteButtondForModify.setAttribute("id", "rawMaterialDeleteButtonForModify");
                                            menuInfoForModify.type = "hidden"
                                            menuInfoForModify.name = "materialsForModify"
                                            menuInfoForModify.value = data[list].rawMaterialName + "/" + data[list].rawMaterialCapacity;

                                            rawMaterialListForModify.appendChild(oneRawMaterialForModify);
                                            rawMaterialListForModify.appendChild(menuInfoForModify); //input
                                            oneRawMaterialForModify.appendChild(deleteButtondForModify); // 화면의 보여질 div의 delete버튼


                                            deleteButtondForModify.onclick = function () { //제거 버튼을 누르면
                                                this.parentNode.remove(); //oneRawMaterial삭제됨(자동으로 deleteButton도 삭제) -> 화면에서 삭제
                                                menuInfoForModify.remove();
                                            }

                                        }
                                    }
                                    $('#selectOneMenuTbody').empty();
                                    $('#selectOneMenuTbody').append(materialTbody);

                                }
                            },
                            error: function(xhr) {
                                alert("실패" + xhr);
                            }

                        });
                        document.getElementById("selectOneMenu").style.display = "block";
                        document.getElementById("defualtOneMenu").style.display = "none";

                    }

                }
            }
            <!-- 메뉴 수정용 -->




        </script>
        <script th:src="@{/js/plugins/dataTables/datatables.min.js}"></script>
        <script th:src="@{/js/plugins/select2/select2.full.min.js}"></script>
        <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

        <script>

            <!-- 메뉴수정시스왈도만들자(미완성) -->
            // $('.demo4').click(function () {
            //     swal({
            //         title: "메뉴 수정하시겠습니까?",
            //         type: "warning",
            //         showCancelButton: true,
            //         confirmButtonColor: "#DD6B55",
            //         confirmButtonText: "Ok",
            //         cancelButtonText: "Cancel",
            //         closeOnConfirm: false
            //     }, function () {
            //         swal("수정 완료!", "메뉴 수정이 완료되었습니다.", "success");
            //     });
            // });
            //
            // let confirmCount2 = 0;
            // let checkMenuAmount2 = 0;
            //
            // $(document).on('click', '.sa-button-container .confirm', function() {
            //     if($("#menuNameForModify")[0].children.length == 1 /*&& $("#menuPrice")[0].children.length == 0
            // && $("#menuStatus")[0].children.length == 0 && $("#rawMaterialList")[0].children.length == 0*/) {
            //         swal("메뉴 수정 실패!", "필수 항목이 입력되지 않았습니다.\n필수 항목을 모두 입력해주세요.", "error");
            //     } else {
            //         let checkMenuAmount2 = 0;
            //
            //         const $menuRawMaterialAmount = document.querySelectorAll("#rawMaterialListForModify");
            //
            //         for (let i = 0; i < $menuRawMaterialAmount.length; i++) {
            //
            //             let amountInt = $menuRawMaterialAmount[i].value * 1;
            //
            //             console.log("amountInt : " + amountInt)
            //
            //             if (amountInt < 1) {
            //                 checkMenuAmount2 = 1;
            //                 break;
            //             }
            //         }
            //
            //         if (checkMenuAmount2 == 1) {
            //             swal("발주 신청 실패!", "이게뭘까?", "warning")
            //         } else {
            //             confirmCount2++;
            //         }
            //
            //     }
            //
            //     if(confirmCount2 == 2) {
            //
            //         $("#menuModifytForm").submit();
            //     }
            //
            // });



            <!-- 메뉴등록시스왈(미완성) -->
            $('.demo3').click(function () {
                swal({
                    title: "메뉴 등록하시겠습니까?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Ok",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false
                }, function () {
                    swal("등록 완료!", "메뉴 등록이 완료되었습니다.", "success");
                });
            });

            let confirmCount = 0;
            let checkMenuAmount = 0;

            $(document).on('click', '.sa-button-container .confirm', function() {
                if($("#menuName")[0].children.length == 1 /*&& $("#menuPrice")[0].children.length == 0
            && $("#menuStatus")[0].children.length == 0 && $("#rawMaterialList")[0].children.length == 0*/) {
                    swal("메뉴 등록 실패!", "필수 항목이 입력되지 않았습니다.\n필수 항목을 모두 입력해주세요.", "error");
                } else {
                    let checkMenuAmount = 0;

                    const $menuRawMaterialAmount = document.querySelectorAll("#rawMaterialList");

                    for (let i = 0; i < $menuRawMaterialAmount.length; i++) {

                        let amountInt = $menuRawMaterialAmount[i].value * 1;

                        console.log("amountInt : " + amountInt)

                        if (amountInt < 1) {
                            checkMenuAmount = 1;
                            break;
                        }
                    }

                    if (checkMenuAmount == 1) {
                        swal("발주 신청 실패!", "이게뭘까?", "warning")
                    } else {
                        confirmCount++;
                    }

                }

                if(confirmCount == 2) {

                    $("#menuRegistForm").submit();
                }

            });




            $(".select2_demo_1").select2({
                theme: 'bootstrap4',
            });
            $(".select2_demo_2").select2({
                theme: 'bootstrap4',
            });
            $(".select2_demo_3").select2({
                theme: 'bootstrap4',
                placeholder: "Select a state",
                allowClear: true
            });

            // Upgrade button class name
            $.fn.dataTable.Buttons.defaults.dom.button.className = 'btn btn-white btn-sm';

            $(document).ready(function(){
                $('.dataTables-example').DataTable({
                    pageLength: 9,
                    responsive: true,
                    lengthChange: false,
                    info: false,
                    dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        // { extend: 'copy'},
                        // {extend: 'csv'},
                        // {extend: 'excel', title: 'ExampleFile'},
                        // {extend: 'pdf', title: 'ExampleFile'},

                        {extend: '',
                            customize: function (win){
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ]

                });

            });

            <!--  좀따 안되면 풀기!(datatable) -->
            $(document).ready(function(){
                $('.dataTables-example-customizing').DataTable({
                    pageLength: 10,
                    searching: false,
                    ordering: false,
                    paging: true,
                    // responsive: true,
                    lengthChange: false,
                    info: false,
                    // dom: '<"html5buttons"B>lTfgitp',
                    buttons: [
                        // { extend: 'copy'},
                        // {extend: 'csv'},
                        // {extend: 'excel', title: 'ExampleFile'},
                        // {extend: 'pdf', title: 'ExampleFile'},

                        {extend: '',
                            customize: function (win){
                                $(win.document.body).addClass('white-bg');
                                $(win.document.body).css('font-size', '10px');

                                $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                            }
                        }
                    ]

                });

            });


            //
            // // fetch- 나중에 해보기 ㅇㅇ
            // console.log($menuNo);
            // let url = '/menu/selectonemenu';
            //
            // fetch("/menu/selectonemenu?menuNo=" +  this.children[0].value)
            //     .then(res => res.json())
            //     .then(res => {
            //             console.log("성공ㅇ !!!");
            //             var materialTbody = '';
            //             if(data != null) {
            //
            //                 for(list in text) {
            //
            //                     materialTbody += '<tr>';
            //                     materialTbody += '<td>' + data[list].name + '</td>';
            //                     materialTbody += '<td>' + data[list].capacity + '</td>';
            //                     materialTbody += '</tr>';
            //                 }
            //             }
            //         // $('#selectOneMenuTbody').empty();
            //         // $('#selectOneMenuTbody').append(materialTbody);
            // })
            // .catch(err => {
            //     alert("에러 : " + err);
            // })






        </script>
</body>
</html>