.menuListWhiteBoard {
    border: 0.5px solid gray;
    position: absolute;
    left:1%;
    top: 18%;
    height: 610px;
    width: 450px;
    background: white;
}

.selectOneMenuWhiteboard {
    border: 0.5px solid gray;
    position: absolute;
    left: 37%;
    top: 18%;
    height: 610px;
    width: 800px;
    background: white;
}

.OneMenuWhiteboard {
    border: 0.5px solid gray;
    position: absolute;
    left:37%;
    top: 18%;
    height: 610px;
    width: 800px;
    background: white;
}

.menuModifyModal {
    position: absolute;
    border: 0.5px solid gray;
    height: 500px;
    width: 500px;
    background: white;
    border-radius: 5px 5px 5px 5px ;
}

.menuRegistModal {
    position: absolute;
    border: 0.5px solid gray;
    height: 500px;
    width: 500px;
    background: white;
    border-radius: 5px 5px 5px 5px ;
}

.modal-layer {
    position: relative;
    top: -68%;
    left:-78%;
    width: 1340px;
    height: 637px;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.forz-index {
    position: absolute;
    top: 22.3%;
    left: 29.5%;
    z-index: 1050
}

.menuRegistForm {
    position: relative;
    height: 200px;
    top: 5%;
    left: 23%;
}

.menuModifytForm {
    position: relative;
    height: 200px;
    top: 5%;
    left: 23%;
}

.materialCategoryForRegist {
    position: relative;
}

.rawMaterialList {
    position: relative;
    right: 13%;
    height: 200px;
    width: 400px;
    background: white;
    border: 0.5px solid gray;
}

.button {
    background: #1AB394;
    color: white;
    border: none;
    box-shadow: 1px 1px gray;
    cursor: pointer;
}

.registMenuButton {
    position: absolute;
    top: 1.5%;
    left: 80%;
}

.modifyMenuButton {
    position: absolute;
    top: 1.5%;
    left: 89%;
}

.registMenuCancelButton {
    position: relative;
    left: 30%;
    margin-top: 8px;
}

.modifyMenuSubmitButton {
    position: relative;
    top: 39.3%;
    left: 30%;
}

.modifyMenuCancelButton {
    position: relative;
    left: 15%;
    margin-top: 8px;
    margin-left: 80px;
}

.registMenuSubmitButton {
    position: relative;
    top: 39.3%;
    left: 30%;
}

#oneRawMaterial, #oneRawMaterialForModify {
    margin: 3px;
    display: inline-block;
    font-size: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

#rawMaterialDeleteButton, #rawMaterialDeleteButtonForModify {
    background-image: url("../../images/xButton.png");
    border: 1px solid black;
    margin-left: 3px;
    margin-top: 3px;
    margin-right :3px;
    border-radius: 3px;
    width: 17px;
    height: 14px;
    display: inline-block;
}

.sweet-alert {
    margin-left: -150px !important;
}

#menuDeleteBox {
    width: 15px;
    height: 15px;

}

.checkboxForAll {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 10%;
    top: 10%;
}